@charset "utf-8";
/* CSS Document */

.orng {
	background-color:#fa7d01;
	border:1px solid #fa7d01;
	border-radius:10px;
	padding:15px;
	color:#ffffff !important;
}
.yalo {
	background-color:#f4760f;
	border:1px solid #f4760f;
	padding:15px;
	color:#ffffff !important;
	
}
.yalo h1{
	font-size:53px;
	font-weight:bold;
	text-align:center;
	padding:50px 0 10px;
}
.yalo-l{
	border-right:5px solid #ffffff;
}
.yalo-l p{
	text-align:center;
	font-size:20px;
	text-transform:uppercase;
}
.yalo-r img{
	width:25px;
	float:left;
	margin:0 5px 0 0;
}
.yalo-r{
	padding:25px 0 0 0;
}
.yalo-r p{
	font-size:27px;
	font-weight:bold;
	margin:0 0 25px 0;
}
.tv {
	margin-top:164px;
}
.orng2 {
	background-color:#fa7d01;
	border:1px solid #fa7d01;
	border-radius:10px;
	color:#ffffff !important;
}
@media (min-width: 1200px) {
.full {
	max-width:98% !important;
	padding:10px;
	background-color:#fa7d01;
}
.text-size1 {
	font-size:19px !important;
	font-style:italic !important;
	line-height:31px;
}
.text-size2 {
	font-size:12px !important;
	text-align:justify;
}
.row-fluid .calender{
	background-image:url('../img/calender.png');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:top;
	padding:50px 20px;
	border:2px solid #999999;
	border-top:none;
}
.footer input, textarea{
	padding:6px 14px;
	border-radius:25px;
	font-family:'corbelregular';
	font-size:22px;
}
.foll img{
	margin-right:5px;
}
.foll2{
	margin-left:15px;
}
.orng-border {
	background-color:#fa7d01;
	padding:2px 0 3px;
	color:#ffffff !important;
	clear:both;
	margin:5px 0 0 0;
}
.left-cat{
	background:#fdf7e6;
	border:1px solid #facfa7;
	padding:5px;
	margin:0 0 15px !important;
	position:static !important;
	border-radius:0 !important;
}
.pad{
	padding:0 !important;
	margin:0 !important;
}
.pad-ad{
	padding:15px 0 5px;
}
.hack-1{
	position:static;
	margin:0 !important;
	background:none !important;
	border:none !important;
}
.hack-2{
	color:#f7c232;
	padding:0 0 10px 0;
	border-bottom:4px solid #f7c232;
	font-size:25px;
	margin:0 0 15px;
}
.white{
	color:#ffffff !important;
	font-size:23px;
	padding-bottom:5px;
}
.white2{
	color:#ffffff !important;
	font-size:32px;
	padding-bottom:15px;
}
.pad2{
	padding:5px 32px !important;
	vertical-align:6px;
	border-radius:23px;
	font-family:'corbelregular' !important;
	
}
.cent img{
	margin:0 auto !important;
}
.right{
	right:0 !important;
	width:40px !important;
}
.right img{
	padding:0 15px 3px 0;
}
.bottom{
	bottom:0;
	right:0;
}
.round{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 201px;
    color: #333333;
    margin: 50px 0 0 -85px;
    max-height: 168px;
    max-width: 476px;
    padding: 77px;
    position: absolute;
    text-align: center !important;
    z-index: 100 !important;
}
.round2{
	/*margin:-63px 0 0 147px;*/
	margin:144px -169px 0 0;
}
.round2 img{
	z-index:10 !important;
}
.round3{
	margin:-161px 0 0;
}
.pad-icon{
	padding:0 25px 0 0;
}
.top-pad{
	padding:15px 0 0 0 !important;
}
.red{
	background:#880015;
}
.mrg2{
	margin:50px 0 0 0;
}
.wht{
	padding:10px 0 0 0;
	text-align:right;
}

.wht a{
	color:#ffffff;
	font-size:15px;
	padding:0 0 0 10px;
	
}
.wht a:hover{
	color:#febd01;
	text-decoration:none;
}
.fast a{
	padding-left:0 !important;
}
.f-hed{
	font-size:64.5px;
	color:#ffffff;
	padding-bottom:15px;
}
.footer label{
	color:#ffffff;
	font-size:20px;
}
.pad-top{
	padding-top:130px;
}