<div id="footer">
       <?php echo $siteSetting['Setting']['copyright_by']; ?>
      <div class="span pull-right">
         <span class="go-top"><i class="fa fa-arrow-up"></i></span>
      </div>
   </div>
<script>
	function updateQty(paymentId)
	{
		var param={};
		param.qty=$("#txtQuantityViewed").val();
		param.id=paymentId;
		
		$.get("/admin/Payments/update/"+param.id+"/"+param.qty,null,function(data){
			$(".pUpdate").show();
			//console.log(data);
			setTimeout(function(){$(".pUpdate").hide();},3000);
		});
		
	}
	

	$(document).ready(function(){
		$(".has-sub").click(function(){
		var key = 'currentMenu';
	    var data = $(this).attr('id');
	    //localStorage setItem
	    if ("localStorage" in window) {
	        console.log("Setting item " + key + " to " + data +" in localStorage");
	        localStorage.setItem(key, data);
	    } else {
	        alert("no localStorage in window");
		}
		});

		 //localStorage key and getItembr
	   
	    var currentMenu=localStorage.getItem(localStorage.key("currentMenu"));
	    if(currentMenu!="")
	    {
		    $(".has-sub").removeClass("open");
		    $(".sub").css("display","none");
		    $("#"+currentMenu).addClass("open");
		    $("#"+currentMenu).find(".sub").css("display","block");
	    }
    	$('.alert-error').removeClass('waa');
    	
    	if($.trim($('.alert-error').text())=="")
    	{
			$('.alert-error').hide();
		}
		else
		{
			$('.alert-error').show();
		}
    	setTimeout(function(){
                $('.alert-error').addClass('waa')
        }, 4000);
	});
</script>