				<ul>
					<?php if(strtolower($this->params['controller']) == 'users' && strtolower($this->params['action']) == 'myaccount'){ $myAccStyle = 'background: url("'.DOMAIN_NAME_PATH.'img/btn2.png");'; } else { $myAccStyle = ''; } ?>
					<li><?php echo $this->Html->link('Account Info', array('controller'=>'users', 'action'=>'myAccount'), array('style'=>$myAccStyle)); ?></li>

					<?php if(strtolower($this->params['controller']) == 'orders' && strtolower($this->params['action']) == 'index'){ $orderStyle = 'background: url("'.DOMAIN_NAME_PATH.'img/btn2.png");'; } else { $orderStyle = ''; } ?>
					<li><?php echo $this->Html->link('Order History', array('controller'=>'orders', 'action'=>'index'), array('style'=>$orderStyle)); ?></li>

					<?php if(strtolower($this->params['controller']) == 'votes' && strtolower($this->params['action']) == 'index'){ $myAccStyle = 'background: url("'.DOMAIN_NAME_PATH.'img/btn2.png");'; } else { $myAccStyle = ''; } ?>
					<li><?php echo $this->Html->link('My Votes', array('controller'=>'votes', 'action'=>'index'), array('style'=>$myAccStyle)); ?></li>

					<div class="clear"></div>
				</ul>