/* CSS Document */

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	padding:0;
	margin:0;
	background:url(../images/bg.png);
}
/*------------MC Start-----------------*/
p, h1, h2, h3, h4, h5, h6, a {
	padding:0;
	margin:0;
	text-decoration:none;
}
img {
	border:none;
}
.clear {
	clear:both;
}
h1 {
	font-family:Arial, Gadget, sans-serif;
	font-size:19px !important;
	text-align:center;
	color:#ffffff;
	padding:0;
	margin:10px 0;
}
h2 {
	font-family:Arial, Gadget, sans-serif;
	font-size:18px;
	color:#000000;
	margin:0 0 10px 15px;
	padding:10px 0 0 0;
	text-align:center;
}
h3 {
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:40px;
	color:#000000;
	padding:0;
	margin:0;
}
h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:26px;
	color:#ed217c;
	padding:0;
	margin:0;
	text-transform:uppercase;
}
h5 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:36px;
	color:#333333;
	padding:0;
	margin:15px 0;
	text-transform:uppercase;
}
h6 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#333333;
	padding:0;
	margin:15px 0;
	text-transform:uppercase;
}
.bold {
	font-weight:bold;
}
/*-------------MC End------------------*/

/*------------Main Wrapper Start-----------------*/
#mainWrapper {
	width:100%;
}
#mainWrapperHome {
	width:100%;
	position:absolute;
}
.homelogin {
	width:300px;
	height:420px;
	float:left;
	left:0;
	margin:120px 0 0 30px;
	border:1px solid #f8520c;
	background:#000000;
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	_moz-border:10px;
	border-radius:10px;
}
/*-------------Main Wrapper End------------------*/

/*------------Home Tab Wrapper Start-----------------*/
.container {
	width: 260px;
	margin: 10px auto;
	position:absolute;
	margin:129px 0 0 40px;
	_moz-border:10px;
	border-radius:10px;
	border:1px solid #f8520c;
	background:#ffffff;
	padding:10px;
}
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	background: #ffffff;
	overflow: hidden;
	position: relative;
	width:50%;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 12px;
	font-weight:bold;
	padding: 0 0;
	outline: none;
	text-align:center;
}
ul.tabs li a:hover {
	background: #f8520c;
}
html ul.tabs li.active, html ul.tabs li.active a:hover {
	background: #f8520c;
}
.tab_container {
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
	border:1px solid #f8520c;
	margin:-1px 0 0 0;
}
.tab_content {
	padding: 20px;
	font-size: 12px;
}
.tab_content input {
	width:216px;
	height:22px;
	border:1px solid #cccccc;
	padding:5px;
}
.tab_content select {
	width:227px;
	height:33px;
	border:1px solid #cccccc;
	padding:5px;
}
.tab_content input[type="submit"] {
	width:105px;
	height:36px;
	background:#e25507;
	padding:5px;
	color:#ffffff;
	float:right;
}
.tab_content img {
	float: left;
	margin: 0 20px 20px 0;
	border: 1px solid #ddd;
	padding: 5px;
}
.orng{
	margin:15px 0 0 0;
	color:#f8520c;
}
.homedeal {
	width:958px;
	height:397px;
	background:url(../img/bg2.png);
	border:1px solid #fb4d11;
	_moz-border:10px;
	border-radius:10px;
	float:right;
	position:absolute;
	margin:120px 0 0 350px;
	padding:10px;
	color:#ffffff;
}
.inx-left{
	width:475px;
	height:380px;
	float:left;
	border-right:1px solid #fb4d11;
}
.inx-right{
	width:475px;
	height:380px;
	float:right;
}
.inx-product{
	width:475px;
}
.inx-pro{
	width:98px;
	background:#ffffff;
	padding:5px;
	margin:0 10px 30px 0;
	float:left;
	height:137px;
}
.inx-img{
	width:90px;
	border:1px solid #fb4d11;
	padding:4px;
}
.inx-img img{
	height:90px;
}
.inx-con{
	width:100px;
	color:#000;
	font-size:11px;
}
.black{
	width:960px;
	height:400px;
	background:url(../img/bg2.png);
	position:absolute;
}
.blockLeft{
	width:460px;
	padding:140px 0 0 0;
	float:left;
	font-size:28px;
	text-align:center;
	font-weight:bold;
}
.blockLeft p{
	padding:0;
	margin:0;
}
.blockRight p{
	padding:0;
	margin:0;
}
.blockRight{
	width:460px;

	padding:120px 0 0 0;
	float:right;
	font-size:28px;
	text-align:center;
	font-weight:bold;
}
.acu-nav{
	width:1100px;
	margin:20px 0;
}
.acu-pro{
	width:1100px;
	min-height:150px;
	margin:10px 0 0 0;
	padding:0 0 10px 0;
	border-bottom:2px solid #E7E7E7;
	
}
.acu-nav ul{
	padding:10px 10px 5px 10px;
	margin:0;
	list-style:none;
	border-bottom:2px solid #EC217B;
}
.acu-nav li{
	float:left;
	padding:0;
	margin:0;
	font-size:12px;
	margin:0 10px 0 0;
}
.acu-nav a{
	padding:5px 20px;
	color:#ffffff;
	background:url(../img/btn.png) repeat-x;
	
}
.acu-nav a:hover{
	padding:5px 20px;
	color:#ffffff;
	background:url(../img/btn2.png) repeat-x;
}
.header-cart-bg {
    background: url("../img/cart2.png") repeat scroll 0 0 transparent;
    float: right;
    height: 35px;
    margin-left: 10px;
    margin-top: -15px;
    padding-right: 8px;
    padding-top: 13px;
    text-align: center;
    width: 40px;
}
.btn a{
	padding:5px 20px;
	color:#ffffff;
	background:url(../img/btn.png) repeat-x;
	
}
.btn [type="submit"]{
	padding:5px 20px;
	color:#ffffff;
	background:url(../img/btn.png) repeat-x;
}
.btn a:hover{
	padding:5px 20px;
	color:#ffffff;
	background:url(../img/btn2.png) repeat-x;
}
/*------footer home----------*/
#footerWrapper-home {
	width:100%;
	background:url(../img/footer.png);
	bottom:0;
	height:76px;
	position:absolute;
}
.footerHome-1{
	width:1100px;
	height:20px;
	padding:0 0 10px 0;
	margin:10px auto 0 auto;
	border-bottom:1px solid #c0c0bf;
}
.footerHome-1 ul{
	padding:0;
	margin:0;
	list-style:none;
	margin:0 0 0 60px;
}
.footerHome-1 li{
	padding:0 15px;
	border-right:1px solid #ffffff;
	list-style:none;
	float:left;
	font-size:12px;
	color:#ffffff;
}
.footerHome-1 a{
	color:#ffffff;
}
.footerHome-1 a:hover{
	color:#e15c15;
}
.last{
	border:none !important;
}
.last2{
	border:none !important;
	padding-right:0 !important;
	margin:0;
}
.footerHome-2{
	width:88px;
	height:20px;
	padding:0 0 10px 0;
	margin:5px auto 0 auto;
	border-bottom:1px solid #c0c0bf;
}
/*-------footer home end----------*/
/*-------------Home Tab Wrapper End------------------*/

/*---------------------Header Wrapper Start-----------------*/
#headerWrapper{
	width:100%;
	height:174px;
}
.headerWrapper-sub{
	width:1100px;
	height:174px;
	margin:0 auto;
}
.logo{
	width:323px;

	float:left;
	margin:10px 0 0;
}
.headRight{
	width:400px;
	float:right;
	margin:19px 0 0 0
}
.topLink{
	width:400px;
	float:right;
}
.topLink ul{
	float:right;
	margin:0;
	padding:0;
	list-style:none;
}
.topLink li{
	float:right;
	padding:0 15px;
	margin:0;
	list-style:none;
	border-right:1px solid #5b5a5a;
}
.topLink li a{
	color:#5b5a5a;
}
.topLink li a:hover{
	color:#cf0263;
}
.topSocial{
	width:178px;
	margin:36px 0 0  0;
	float:right;
	color:#434243;
}
.topSocial img{
	margin:0 0 0 5px;
}
.topCart{
	width:400px;
	margin:32px 0 0 0;
	float:right;
	color:#5b5a5a;
	text-align:right;
}
.topCart img{
	margin:0 0 0 10px;
	float:right;
}
.cartWrap{
	width:1080px;
	padding:10px;
	margin:0 0 10px 0;
	font-size:14px;
	border:1px solid #e8e6e6;
}
.cartWrap span{
	text-transform:uppercase;
	color:#232323 !important;
	font-size:17px !important;
	font-weight:bold;
}
.c-one{
	width:382px;
	float:left;
	margin:0 28px 0 0;
	color:#333333;
}
.c-one img{
	float:left;
	padding:0 10px 10px 0;
	width:50px;
}
.c-two{
	width:270px;
	float:left;
}
.c-three{
	width:120px;
	float:left;
}
.c-four{
	width:170px;
	float:left;
}
.c-five{
	width:110px;
	float:left;
}
.o-history{
	width:1079px;
	float:left;
	margin:15px 0;
	color:#333333;
	border:1px solid #cccccc;
	background:#FBFBFB;
	padding:10px 10px 0 10px ;
}
.h-pro{
	width:680px;
	float:left;
	margin:15px 0;
	color:#333333;
	border-bottom:1px dashed #cccccc;
}
.h-pro h4{
	font-size:16px !important;
	text-transform:capitalize;
	color:#333333;
}
.o-history img{
	float:left;
	padding:0 10px 10px 0;
	width:80px;
}
.pop{
	font-size:12px;
	color:#666666;
}
.pop input{
	width:200px;
	height:26px;
	border:1px solid #cccccc;
	padding:2px;
	color:#666666;
}
.pop select{
	width:200px;
	height:26px;
	border:1px solid #cccccc;
	padding:2px;
	color:#666666;
}
.pop p{
	padding:5px 0;
	
}
/*---------------------Header Wrapper End-----------------*/

/*------------Nav Wrapper Start-----------------*/
#navWrapper{
	width:100%;
	height:37px;
	margin:0 0 15px 0;
	border-bottom:5px solid #0ab1f0;
}
.navWrapper-sub{
	width:1100px;
	margin:0 auto;
}
.navWrapper-sub ul{
	padding:10px 0 0 0;
	margin:0;
	float:right;
	list-style:none;
}
.navWrapper-sub li{
	float:right;
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
}
.navWrapper-sub a{
	color:#737373;
	padding:12px 36px;
	border-bottom:5px solid #0ab1f0;
}
.navWrapper-sub a:hover{
	color:#737373;
	padding:12px 36px;
	border-bottom:5px solid #ed217c;
}
.chesBox{
	width:232px;
	float:left;
	height:36px;
	margin:6px 0 0 0;
	font-weight:bold;
}
.chesBox ul{
	padding:0;
	margin:0;
	list-style:none;
}
.chesBox li{
	height:36px !important;
	float:left;
	padding:0;
	margin:6px 4px 0 0;
	text-align:center;
	font-size:14px;
}
.chesBox a{
	background:#ed217c;
	padding:9px  39px;
	color:#ffffff;
	border:none;
}
.chesBox a:hover{
	background:#0ab1f0;
	padding:9px  39px;
	color:#000000;
	border:none;
}

/*-------------Nav Wrapper End------------------*/

/*------------Banner Wrapper Start-----------------*/
#bannerWrapper{
	width:1091px;
	margin:0 auto;
	border:1px solid #cacaca;
	margin:5px auto;
	padding:5px;
}
/*-------------Banner Wrapper End------------------*/

/*------------body Wrapper Start-----------------*/
#bodyWrapper{
	width:1100px;
	margin:0 auto;
}
.productVoteWrapper{
	width:1100px;
	margin:0 0 10px 0;
}
.voteLeft{
	width:550px;
	float:left;
}
.voteLeft h1{
	text-align:center;
	font-size:20px;
	font-weight:bold;
	color:#000000;
}
.voteRight{
	width:540px;
	float:right;
	
	
}
.voteRight h1{
	text-align:center;
	font-size:20px;
	font-weight:bold;
	color:#000000;
	text-transform:uppercase;
}
.collectionBar{
	width:1100px;
	height:35px;
	border:1px solid #0ab1f0;
	background:#89d9f7;
	font-size:22px;
	color:#000000;
	margin:10px 0;
	text-transform:uppercase;
	font-weight:bold;
	text-align:center;
	padding:5px 0 0 0;
}
.collectionBar2{
	width:1100px;
	height:35px;
	border:1px solid #cf0263;
	background:#f795c0;
	font-size:22px;
	color:#000000;
	margin:10px 0;
	text-transform:uppercase;
	font-weight:bold;
	text-align:center;
	padding:5px 0 0 0;
}
.collectionTimer{
	width:700px;
	margin:0 auto;
	text-align:center;
	font-size:19px;
	font-weight:bold;
	text-transform:uppercase;
	border:1px solid #cccccc;
	_moz-border:8px;
	border-radius:8px;

}

.vote-product{
	width:270px;
	float:left;
}
.vote-product-mid{
	width:250px;
	padding:0 10px;
	background:url(../img/p-middle.png) repeat-y;
}
.buy-product{
	width:537px;
	float:left;
	margin:0 0 24px 0;
}
.buy-product-mid p{
	padding:0 0 5px 0;
}
.buy-product-mid span{
	font-size:36px;
	color:#ed217c;
}
.buy-product-mid strong{
	font-size:18px;
}
.buy-product [type="submit"]{
	color:#ffffff;
	background:url(../img/btn.png) repeat-x;
	padding:5px 10px;
	font-weight:bold;
}
.buy-product-mid{
	width:527px;
	padding:0 10px;
	background:url(../img/b-middle.png) repeat-y;
}
.buy-product-mid img{
	
	margin:0 10px 0 0;
}
.vt img{
	width:250px !important;
	height:250px !important;
}
.right{
	float:right !important;
}
.time{
	width:270px;
	height:53px;
	background:url(../img/numb.png) no-repeat;
	color:#666666;
	margin:0 auto;
	font-size:25px;
	font-weight:bold;
}
.forgetPass{
	width:500px;
	margin:15px auto;
	border:1px solid #0AB1F0;
	_moz-border:8px;
	border-radius:8px;
	padding:10px;
	
}
.forgetPass input{
	width:493px;
	height:28px;
	border:1px solid #d6d6d6;
	_moz-border:8px;
	border-radius:8px;
	margin:5px 0 15px 0;
	padding:2px;
}
.forgetPass [type="submit"]{
	width:150px;
	height:33px;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
	padding:5px 0 10px 0;
	color:#ffffff;
	background:url(../img/btn.png) repeat-x;
}
.p-left{
	width:430px;
	float:left;
	margin:15px 0 0 0;
}
.p-right{
	width:550px;
	float:right;
	margin:15px 0 0 0;
}
.p-right h2{
	text-align:left;
	margin-left:0;
}
.p-right select{
	width:200px;
	border:1px solid #cccccc;
	_moz-border:5px;
	border-radius:5px;
	height:25px;
	padding:2px 5px;
	margin:0 0 0 10px;
}
.p-right p{
	margin:15px 0;
}
.add-tocart{
	width:350px;
	border:1px solid #0AB0EE;
	_moz-border:5px;
	border-radius:5px;
	padding:10px;
}
/* CSS Document */
#trigger {
	text-align:center;
}

/* Style you custom popupbox according to your requirement */
.popupbox {
	width:500px;
	height:300px;
	background-image:url(/edit_media/2010/201010/20101009/custompopup/images/pop-up_03.png);
	background-repeat:no-repeat;
	display: none; /* Hidden as default */
	float: left;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
}
.popupbox2 {
	width:454px;
	height:307px;
	background-image:url(/edit_media/2010/201010/20101009/custompopup/images/pu_03.png);
	background-repeat:no-repeat;
	display: none; 
	float: left;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
}
.popupbox3 {
	width:502px;
	height:302px;
	background-image:url(/edit_media/2010/201010/20101009/custompopup/images/3_03.png);
	background-repeat:no-repeat;
	display: none;
	float: left;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
}
#fade { 
	display: none; /* Hidden as default */
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
#intabdiv {
	text-align:center;
}
#close img {
	text-decoration:none;
}
#close {
	width:50px;
	height:50px;
	position: absolute;
	float:right;
}

#intabdiv2 {
	padding:70px;
}
#intabdiv2  h2 {
	font-size:24px;
	color:#696868;
	font-family:Verdana, Geneva, sans-serif;
}
#intabdiv2 p {
	font-size:12px;
	color:#696868;
	font-family:Verdana, Geneva, sans-serif;
	line-height:20px;
}
.p-img{
	width:60px;
	height:50px;
	border:1px solid #d9d9d9;
	padding:5px;
	float:left;
	margin:0 7px 10px 0;
}
.p-img img{
	width:50px;
	height:50px;
}
.acu-con{
	width:225px;
	min-height:150px;
	padding:5px;
	border:1px solid #e4e2e1;
	background:#efefef;
	float:left;
	margin:10px 10px 0 0;
}
.cartWrap h4{
	font-size:19px;
}
.acu-pro h4{
	font-size:19px;
}
.acu-pro p{
	margin:10px 0 0 0;
}
.acu-con p{
	margin:0 0 10px 0;
}
.acu-con a{
	color:#ed217c;
}
.acu-con a:hover{
	color:#333333;
}
.hk{}
.hk ul{
	border:none !important;
	clear:both !important;
	
}
.b-left{
	width:530px;
	float:left;
	padding:10px;
	border:1px solid #98DFF9;
}
.b-left p{
	padding:0 0 5px 15px;
}
.b-left span{
	color:#F00;
	padding:0 0 0 10px;
	font-size:16px;
}
.b-left input{
	width:470px;
	color:#999;
	height:25px;
	padding:2px;
	border-radius:5px;
	border:1px solid #E7E7E7;
	margin:0 0 10px 0;
}
.b-left select{
	width:230px;
	float:left;
	color:#999;
	height:28px;
	padding:5px;
	border-radius:5px;
	border:1px solid #A6E5FC;
	margin:0 10px 10px 0;
}
.b-left [type="radio"]{
	width:15px;
	height:10px;
	margin:0 10px 0 10px;
}
.b-left [type="checkbox"]{
	width:15px;
	height:10px;
	margin:0 0 0 10px;
}
.b-right{
	width:500px;
	float:right;
}
.b-right2{
	width:480px;
	float:right;
	padding:10px;
	border:1px solid #F990BE;
	margin:0 0 15px 0;
}
.b-right2 input{
	width:450px;
	color:#999;
	height:25px;
	padding:2px;
	border-radius:5px;
	border:1px solid #E7E7E7;
	margin:0 0 10px 0;
}
.b-right2 textarea{
	width:450px;
	height:100px;
	color:#999;
	padding:2px;
	border-radius:5px;
	border:1px solid #E7E7E7;
	margin:0 0 10px 0;
}
.b-right select{
	width:220px;
	float:left;
	color:#999;
	height:28px;
	padding:5px;
	border-radius:5px;
	border:1px solid #E7E7E7;
	margin:0 10px 10px 0;
}
.b-right p{
	padding:0 0 5px 15px;
}
.po{
	border-radius:5px;
	border:1px solid #E7E7E7;
	padding:5px;
	margin:0 0 10px 15px;
}
.po span{
	font-size:16px;
	font-weight:bold;
}
.bl{
	font-size:15px;
	font-weight:bold;
	color:#0AB1F0;
}
.b-right [type="submit"]{
	width:150px;
	height:30px;
	padding:5px;
	border:none;
	background:url(../img/btn2.png) repeat-x;
	margin:0 10px 0 10px;
}
.cmsLeft{
	width:220px;
	float:left;
	border:1px solid #cccccc;
	border-radius:5px;
	padding:10px;
}
.cmsLeft ul{
	padding:0;
	margin:0;
	list-style:none;
}
.cmsLeft li{
	margin:0 0 15px 0;
	background:url(../img/arrow.png) no-repeat left;
	padding:0 0 0 25px
}
.cmsLeft a{
	padding:6px 26px 6px 11px;
	color:#666666;


}
.cmsLeft a:hover{
	padding:5px 25px 5px 10px;
	border:1px solid #cccccc;
	border-radius:5px;
	color:#0AB1F0;
}
.cmsRight{
	width:840px;
	float:right;
	margin:10px 0 0 0;
}
.cmsRight p{
	padding: 0 0 3px 27px;
	background:url(../img/a.png) no-repeat left top;
}
.cmsRight h4{
	margin:0 0 10px -2px;
}
.spcs{
	margin:0 0 25px 0;
	background:none !important;
	line-height:17px;
}
.spcs a{
	color:#ED217C;
	font-weight:bold;
	text-decoration:underline;
	padding:0 0 0 5px;
}
.spcs a:hover{
	color:#0AB1F0;
	font-weight:bold;
	text-decoration:underline;
	padding:0 0 0 5px;
}
.thankyou{
	border-radius:5px;
	min-height:210px;
	border:1px solid #0AB1F0;
	padding:10px;
	/*background:#e8e8e6 url(../img/th.jpg) no-repeat right bottom;*/
	background:#ffffff url(../img/th2.png) no-repeat right bottom;
}
.thankyou h4{
	font-size:40px;
	text-transform:capitalize;
	padding:0 0 10px 0;
}
.thankyou p{
	width:800px;
	font-size:15px;
	color:#666666;
	padding:0 0 0 5px;
	line-height:25px;
}
/*-------------body Wrapper End------------------*/


/*------------Footer Wrapper Start-----------------*/
#footerWrapper{
	width:100%;
	border-top:5px solid #ed217c;
	margin:10px 0;
}
.footerWrapper-sub{
	width:1100px;
	margin:10px auto;
}
.fOne{
	width:125px;
	margin:0 auto;
}
.fOne img{
	margin:0 5px 0 0;
}
.fTwo{
	width:420px;
	margin:15px auto;
}
.fTwo ul{
	padding:0;
	margin:0;
	list-style:none;
}
.fTwo li{
	padding:0 10px;
	float:left;
}
.fTwo a{
	color:#0ab1f0;
}
.fTwo a:hover{
	color:#cf0263;
}
.fThree{
	width:800px;
	margin:0 auto;
}
.fThree a{
	color:#cf0263;
	font-weight:bold;
} 
.fThree a:hover{
	color:#0ab1f0;
	font-weight:bold;
} 
/*-------------Footer Wrapper End------------------*/
/** Notices and Errors **/
div.message {
 clear:both;
 background:url(../img/error.png) no-repeat left #c73e14;
 border:1px #eac7c7 solid;
 font-size: 140%;
 background-position:4px 4px;
 padding:10px 20px 9px 40px;
 margin:0 0 10px 0; 
 font-weight: bold;
 color:#FFFFFF
}
div.error-message {
 clear: both;
 color: #fff;
 font-weight: bold;
 background: #c73e14;
}
p.error {
 background-color: #e32;
 color: #fff;
 font-family: Courier, monospace;
 font-size: 120%;
 line-height: 140%;
 padding: 0.8em;
 margin: 1em 0;
}
p.error em {
 color: #000;
 font-weight: normal;
 line-height: 140%;
}
.notice {
 background: #ffcc00;
 color: #000;
 display: block;
 font-family: Courier, monospace;
 font-size: 120%;
 line-height: 140%;
 padding: 0.8em;
 margin: 1em 0;
}
.success {
 background:url(../img/valid.png) no-repeat left green;
 border:1px #cceac4 solid;
 background-position:4px 4px;
 padding:10px 20px 9px 40px;
 margin:0 0 10px 0; 
 font-size: 140%;
 font-weight: bold;
 color:#FFFFFF;
}
[11:28:35 AM] enamul haq: /**  Actions  **/
div.actions ul {
 margin: 0;
 padding: 0;
}
div.actions li {
 margin:0 0 0.5em 0;
 list-style-type: none;
 white-space: nowrap;
 padding: 0;
}
div.actions ul li a {
 font-weight: normal;
 display: block;
 clear: both;
}
div.actions ul li a:hover {
 text-decoration: underline;
}
/** Notices and Errors **/
/* Confirm popup start */
.question {
    background: url("../img/bubble.png") no-repeat scroll left top transparent;
    display: inline;
    font-size: 13px;
    height: 78px;
    line-height: 1.5em;
    margin-left: -7em;
    margin-top: -6em;
    opacity: 0;
    padding: 10px 0 0;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 174px;
	color:#041A54;
}

.yes {
    background: url("../img/buttony.png") no-repeat scroll left top transparent;
    color: #434D17;
    cursor: pointer;
    display: inline-block;
    height: 21px;
    margin-right: 0.5em;
    margin-top: 0.5em;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 63px;
}

.cancel {
    background: url("../img/buttonn.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 21px;
    margin-right: 0.5em;
    margin-top: 0.5em;
    text-shadow: 0 1px 0 #000000;
    width: 63px;
}
.confLink{
 	background: none repeat scroll 0 0 #067085;
    border: medium none;
    color: #FFFFFF;
    height: 25px;
    width: 90px;
	padding:5px 20px;
	margin-left:15px;
}
/* Confirm popup end */
.myAcc p{
padding:5px 5px 5px 20px;
background: url("../img/bullet2.png") no-repeat scroll left center;
}
.byuCartDiv{
width:196px;
padding:5px;
border:1px solid #EFEDED;
margin:0 0 5px 0;
}
.byuCartDiv select{
width:120px;
height:25px;
float:right;
border:1px solid #0AB1F0;
padding:2px 5px 2px 2px;

}
.byuCartDiv p{
padding:0 0 17px 0;
}
#loading {
 background-color: #FFFFFF;
    border: 1px solid #000000;
    height: 140px;
    left: 35%;
    position: fixed;
    top: 48%;
    width: 400px;
    z-index: 101;
}
.loadingscreen-container {
	height: 140px;
    text-align: center;
    vertical-align: middle;
}