body
{
/*background:url(../img/bg.jpg) repeat ;*/
background: #EDEAD9;
font-family:Arial, Helvetica, sans-serif;
padding:0;
font-size:12px;
margin:0 auto;
color: #0e4354;
}
.clear{
clear:both;
}
a{
color:#DDDDDD;
}
span a{
color:#0E4354;
}
td a{
color:#0E4354;
}
dd a{
color:#0E4354;
}
h2{
font-size:18px;
color:#111111;
font-weight:normal;
padding:0px 0 15px 0;
margin:0px;
clear:both;
}
th {
	background:#1C1819;
	color: #F6A027;
}
input[type="submit"], div.actions ul li a, td.actions a{
color:#fff;
}
th a {
    color:#F6A027;
    display: block;
    padding: 2px 4px;
    text-decoration: none;
}
h3{
font-size:18px;
color:#111111;
font-weight:normal;
padding:15px 0 5px 20px;
margin:0px;
float:left;
clear:both;
}
a.forgot_pass{
float:right;
color:#111111;
text-decoration:none;
background:url(../img/help.png) no-repeat left;
padding:0 0 0 18px;
display:block;
margin:15px 20px 0 0;
}
#main_container{
margin:0 auto;
width:900px;
padding:0px 0 0px 0;
}
.header{
width:900px;
height:auto;
margin:10px 0;
}
.header_login{
width:600px;
margin:auto;
}
.logo{
float:left;
padding:0;
}
#clock_a{
float:right;
padding:15px 0 0 0;
}
.jclock{
color:#FFFFFF;
float:right;
font-size:22px;
font-weight:bold;
padding:34px 25px 0 0;
}
.right_header{
width:350px;
float:right;
text-align:right;
color:#FFFFFF;
padding:40px 0 0 0;
}
.right_header a{
margin:0 5px 0 5px;
text-decoration:underline;
color:#FFFFFF;
}
.right_header a.messages{
background:url(../img/comment.png) no-repeat right;
padding-right:20px;
}
.right_header a.logout{
background:url(../img/logout.png) no-repeat right;
padding-right:20px;
}

.main_content{
margin:0 auto;
width:900px;
height:auto;
padding:25px 0 50px;
background:url(../img/menu_bg.jpg) repeat-x center top;
border:0px solid red;
}
.footer{width:900px;height:87px;background:url(../img/footer_bg.jpg) no-repeat center top;}
.footer_login{width:600px;margin:auto;}

.left_footer{float:left;padding:25px 0 0 10px;color:#a8549b;font-size:11px;}
.left_footer a{color:#FFFFFF;text-decoration:none;}
.right_footer{float:right;padding:25px 10px 0 0;}

.left_footer_login{float:left;padding:20px 0 0 15px;color:#1C1819;font-size:11px;}
.left_footer_login a{color:#FFFFFF;text-decoration:none;}
.right_footer_login{float:right;padding:15px 10px 0 0;}
/*---------------- menu----------------------*/
.menu {font-size:11px;padding:0px 10px 0 10px; float:left; width:880px;}

/* remove all the bullets, borders and padding from the default list styling */
.menu ul {padding:0;margin:0;list-style-type:none; height:34px;}

/* style the sub-level lists */
.menu ul ul {width: auto;}

/* float the top list items to make it horizontal and a relative positon so that you can control the dropdown menu positon */
.menu ul li {float:left;height:34px;line-height:34px;}

/* style the sub level list items */
.menu ul ul li {display:block;width: auto;height:auto;position:relative;line-height:1em;}

/* style the links for the top level */
.menu a, .menu a:visited {display:block;float:left;height:100%;font-size:11px;text-decoration:none;color:#fff;padding:0 21px 0 17px;}
.menu a.current{background:url(../img/menu_bg.gif) repeat-x center; font-weight:bold}
/* style the sub level links */
.menu ul ul a, .menu ul ul a:visited {display:block;background:#628f07; border-bottom:1px #81dafc solid; color:#fff;width:12em;height:100%;line-height:1em;padding:1em 1em;}
.menu ul table ul a, .menu ul table ul a:visited  {width:14em; width:12em;}


/* style the table so that it takes no part in the layout - required for IE to work */
.menu table {position:absolute; left:0; top:0; font-size:1em; z-index:-1;}
.menu ul ul table {lef\t:-1px;}
.menu ul ul table ul.left {margin-lef\t:2px;}

.menu li:hover {position:relative;}
* html .menu a:hover {position:relative;}

/* style the third level background */
.menu ul ul ul a, .menu ul ul ul a:visited {background:#628f07;}
/* style the fourth level background */
.menu ul ul ul ul a, .menu ul ul ul ul a:visited {background:#628f07;}
/* style the sub level 1 background */
.menu ul :hover a.sub1 {background:url(../img/arrow.gif) no-repeat right #309dc7;}
/* style the sub level 2 background */
.menu ul ul :hover a.sub2 {background:url(../img/arrow.gif) no-repeat right #088bb4;}

/* style the level hovers */
/* first */
.menu a:hover {color:#fff;background:url(../img/menu_bg.gif) repeat-x center;}
.menu :hover > a {color:#fff;background:url(../img/menu_bg.gif) repeat-x center;}
/* second */
.menu ul ul a:hover{color:#fff;background:url(../img/menu_bg_a.gif) repeat-x center;}
.menu ul ul :hover > a {color:#fff;background:url(../img/menu_bg_a.gif) repeat-x center;}
/* third */
.menu ul ul ul a:hover {background:url(../img/menu_bg_a.gif) repeat-x center;}
.menu ul ul ul :hover > a {background:url(../img/menu_bg_a.gif) repeat-x center;}
/* fourth */
.menu ul ul ul ul a:hover {background:url(../img/menu_bg_a.gif) repeat-x center;}


/* hide the sub levels and give them a positon absolute so that they take up no room */
.menu ul ul {visibility:hidden;position:absolute;height:0;top:34px;left:0;width:14em; z-index:999;}

/* position the third level flyout menu */
.menu ul ul ul{left:14em;top:0;width:14em;}

/* position the third level flyout menu for a left flyout */
.menu ul ul ul.left {left:-14em;}


/* make the second level visible when hover on first level list OR link */
.menu ul li:hover ul, .menu ul a:hover ul {visibility:visible; height:auto; padding-bottom:3em; background:transparent url(../img/trans.gif);}
/* keep the third level hidden when you hover on first level list OR link */
.menu ul :hover ul ul{visibility:hidden;}
/* keep the fourth level hidden when you hover on second level list OR link */
.menu ul :hover ul :hover ul ul{visibility:hidden;}
/* make the third level visible when you hover over second level list OR link */
.menu ul :hover ul :hover ul{visibility:visible;}
/* make the fourth level visible when you hover over third level list OR link */
.menu ul :hover ul :hover ul :hover ul {visibility:visible;}







.center_content{
clear:both;
}

.left_content{
width:195px;
float:left;
padding:30px 0 0 20px;
}
.right_content{

width:635px;
float:left;
padding:30px 0 0 30px;
border:0px solid red;
}

.sidebarmenu{
margin:0px 0;
padding:0;
width:195px;
}
.sidebarmenu a.menuitem{background:url(../img/nav-hover.jpg) repeat-x center top;
color: #fff;display: block;position: relative;width:185px;height:31px;margin:0;line-height:31px;padding:0px 0 0 10px;text-decoration: none; font-weight:bold;
}
.sidebarmenu a.menuitem_green{background:url(../img/green_bt.gif) no-repeat center top;
color: #fff;display: block;position: relative;width:185px;height:31px;margin:0 0 5px 0;line-height:31px;padding:0px 0 0 10px;text-decoration: none;
}
.sidebarmenu a.menuitem_red{background:url(../img/red_bt.gif) no-repeat center top;
color: #fff;display: block;position: relative;width:185px;height:31px;margin:0 0 5px 0;line-height:31px;padding:0px 0 0 10px;text-decoration: none;
}
.sidebarmenu a.menuitem:hover{background:url(../img/nav-hover-admin.jpg) repeat-x center top;}
.sidebarmenu a.menuitem_green:hover{background:url(../img/green_bt_a.gif) no-repeat center top;}
.sidebarmenu a.menuitem_red:hover{background:url(../img/red_bt_a.gif) no-repeat center top;}

.sidebarmenu a.menuitem:visited, .sidebarmenu .menuitem:active{
color: white;
}
.sidebarmenu a.menuitem .statusicon{
position: absolute;
top:11px;
right:7px;
border: none;
}

.sidebarmenu div.submenu{
background: white;
border: 1px solid #D13908;
}
.sidebarmenu div.submenu ul{ 
list-style-type: none;
margin: 0;
padding: 0;
}
.sidebarmenu div.submenu ul li{
border-bottom: 1px dotted #D13908;
}
.sidebarmenu div.submenu ul li a{
display: block;
color: black;
text-decoration: none;
padding:5px 0;
padding-left: 10px;
}
.sidebarmenu div.submenu ul li a:hover{
background: #FDECE6;
color: #0e4354;
}

/* Sidebar Menu 1*/

.sidebarmenu1{
margin:0px 0;
padding:0;
width:195px;
}
.sidebarmenu1 a.menuitem{background:url(../img/sidebar_menu_top.gif) no-repeat center top;
color: #fff;display: block;position: relative;width:185px;height:31px;margin:0 0 5px 0;line-height:31px;padding:0px 0 0 10px;text-decoration: none; font-weight:bold;
}
.sidebarmenu1 a.menuitem_green{background:url(../img/green_bt.gif) no-repeat center top;
color: #fff;display: block;position: relative;width:185px;height:31px;margin:0 0 5px 0;line-height:31px;padding:0px 0 0 10px;text-decoration: none;
}
.sidebarmenu1 a.menuitem_red{background:url(../img/red_bt.gif) no-repeat center top;
color: #fff;display: block;position: relative;width:185px;height:31px;margin:0 0 5px 0;line-height:31px;padding:0px 0 0 10px;text-decoration: none;
}
.sidebarmenu1 a.menuitem:hover{background:url(../img/sidebar_menu_top_a.gif) no-repeat center top;}
.sidebarmenu1a.menuitem_green:hover{background:url(../img/green_bt_a.gif) no-repeat center top;}
.sidebarmenu1 a.menuitem_red:hover{background:url(../img/red_bt_a.gif) no-repeat center top;}

.sidebarmenu1 a.menuitem:visited, .sidebarmenu1 .menuitem:active{
color: white;
}
.sidebarmenu1 a.menuitem .statusicon{
position: absolute;
top:11px;
right:7px;
border: none;
}

.sidebarmenu1 div.submenu{
background: white;
}
.sidebarmenu1 div.submenu ul{ 
list-style-type: none;
margin: 0;
padding: 0 0 5px 0;
}
.sidebarmenu1 div.submenu ul li{
border-bottom: 1px dotted #bfd1d9;
}
.sidebarmenu1 div.submenu ul li a{
display: block;
color: black;
text-decoration: none;
padding:5px 0;
padding-left: 10px;
}
.sidebarmenu1 div.submenu ul li a:hover{
background: #e2f0ff;
color: #0e4354;
}

/* Sidebar Menu 1*/

.sidebar_search{
background:url(../img/sidebar_menu_top.gif) no-repeat center;
width:195px;
height:31px;
margin:0 0 5px 0;
}
input.search_input{
width:155px;
height:16px;
margin:5px 0 0 5px;
border:1px #bdebfd solid;
background:#92dbf8;
padding:4px 0 0 2px;
float:left;
color:#096184;
font-size:11px;
}
input.search_submit{
float:left;
background:none;
border:none;
margin:7px 0 0 8px;
}


.question {
position: absolute;
display: inline;
text-align: center;
width: 174px;
height: 78px;
font-size: 13px;
line-height: 1.5em;
background: url('../img/bubble.png') left top no-repeat;
padding: 10px 0 0 0;
text-shadow: 0px 1px 0px #fff;
margin-left: -7em;
margin-top: -6em;
opacity: 0;
}

.yes{
margin-top: .5em;
margin-right: .5em;
cursor: pointer;
display: inline-block;
width: 63px;
height: 21px;
color: #434d17;
text-shadow: 0px 1px 0px #fff;
background: url('../img/buttony.png') left top no-repeat;
}
.cancel {
margin-top: .5em;
margin-right: .5em;
cursor: pointer;
display: inline-block;
width: 63px;
height: 21px;
color: #fff;
text-shadow: 0px 1px 0px #000;
background: url('../img/buttonn.png') left top no-repeat;
}

a.bt_green{display:block; float:right; margin:10px 5px 10px 5px; line-height:31px; text-decoration:none; color:#FFFFFF; text-shadow:1px 1px #8fa42b;}
a.bt_green strong{width:auto;height:31px; padding:0 10px 0 10px;display:block; float:left;background:url(../img/bt_green_center.gif) repeat-x center;}
a.bt_green span.bt_green_lft{width:10px;height:31px;display:block; float:left;background:url(../img/bt_green_left.gif) no-repeat center right;}
a.bt_green span.bt_green_r{width:10px;height:31px;display:block; float:left;background:url(../img/bt_green_r.gif) no-repeat center right;}
a:hover.bt_green{ text-decoration:underline;}

a.bt_blue{display:block; float:right; margin:10px 5px 10px 5px; line-height:31px; text-decoration:none; color:#FFFFFF; text-shadow:1px 1px #3597bf;}
a.bt_blue strong{width:auto;height:31px; padding:0 10px 0 10px;display:block; float:left;background:url(../img/bt_blue_center.gif) repeat-x center;}
a.bt_blue span.bt_blue_lft{width:10px;height:31px;display:block; float:left;background:url(../img/bt_blue_left.gif) no-repeat center right;}
a.bt_blue span.bt_blue_r{width:10px;height:31px;display:block; float:left;background:url(../img/bt_blue_r.gif) no-repeat center right;}
a:hover.bt_blue{ text-decoration:underline;}

a.bt_red{display:block; float:right; margin:10px 5px 10px 5px; line-height:31px; text-decoration:none; color:#FFFFFF; text-shadow:1px 1px #c24739;}
a.bt_red strong{width:auto;height:31px; padding:0 10px 0 10px;display:block; float:left;background:url(../img/bt_red_center.gif) repeat-x center;}
a.bt_red span.bt_red_lft{width:10px;height:31px;display:block; float:left;background:url(../img/bt_red_left.gif) no-repeat center right;}
a.bt_red span.bt_red_r{width:10px;height:31px;display:block; float:left;background:url(../img/bt_red_r.gif) no-repeat center right;}
a:hover.bt_red{ text-decoration:underline;}

.sidebar_box{
width:195px;
padding:15px 0 5px 0;
}
.sidebar_box_top{width:195px;height:8px;background:url(../img/sidebar_box_top.gif) no-repeat center bottom;}
.sidebar_box_bottom{width:195px;height:8px;background:url(../img/sidebar_box_bottom.gif) no-repeat center bottom;}
.sidebar_box_content{width:175px;height:auto;background-color:#ecf8fd; padding:0 10px 0 10px;}

.sidebar_box_content h3{ color:#49bae8; float:left; font-size:18px; margin:0px;padding:0px; font-weight:normal;}
.sidebar_box_content h4{ color:#f75744; float:left; font-size:18px; margin:0px;padding:0px; font-weight:normal;}
.sidebar_box_content h5{ color:#a4bf40; float:left; font-size:18px; margin:0px;padding:0px; font-weight:normal;}
.sidebar_box_content p{padding:5px 0 5px 0; margin:0px; clear:both; font-size:11px; text-align:left; line-height:17px;}
img.sidebar_icon_right{
float:right; padding:0 0 0 0;
}
.sidebar_box_content ul{
list-style:none;
padding:10px 0 10px 0;
margin:0px;
clear:both;
}
.sidebar_box_content ul li{
padding:5px 0 5px 10px;
background:url(../img/list_bullet.gif) no-repeat left top;
background-position:0px 10px;
}


.warning_box{width:540px;clear:both;background:url(../img/warning.png) no-repeat left #fcfae9;
border:1px #e9e6c7 solid;background-position:15px 10px;padding:20px 20px 15px 60px;margin:0 0 10px 0; font-weight: bold;color:#111111}

.warning_box_small{width:470px;clear:both;background:url(../img/warning.png) no-repeat left #fcfae9;
border:1px #e9e6c7 solid;background-position:15px 10px;padding:20px 20px 15px 60px;margin:0 0 10px 0; font-weight: bold;color:#111111}

.warning_box_medium{width:500px;clear:both;background:url(../img/warning.png) no-repeat left #fcfae9;
border:1px #e9e6c7 solid;background-position:15px 10px;padding:20px 20px 15px 60px;margin:0 0 10px 0; font-weight: bold;color:#111111}

.valid_box{width:540px;clear:both;background:url(../img/valid.png) no-repeat left #edfce9;
border:1px #cceac4 solid;background-position:15px 10px;padding:20px 20px 15px 60px;margin:0 0 10px 0; font-weight: bold;color:#111111}

.valid_box_small{width:470px;clear:both;background:url(../img/valid.png) no-repeat left #edfce9;
border:1px #cceac4 solid;background-position:15px 10px;padding:20px 20px 15px 60px;margin:0 0 10px 0; font-weight: bold;color:#111111}

.error_box{width:540px;clear:both;background:url(../img/error.png) no-repeat left #fce9e9;
border:1px #eac7c7 solid;background-position:15px 10px;padding:20px 20px 15px 60px;margin:0 0 10px 0; font-weight: bold;color:#111111}

.error_box_small{width:470px;clear:both;background:url(../img/error.png) no-repeat left #fce9e9;
border:1px #eac7c7 solid;background-position:15px 10px;padding:20px 20px 15px 60px;margin:0 0 10px 0; font-weight: bold;color:#111111}

/*--------------*/
div.pagination {
width:625px;
clear:both;
padding:10px 0 10px 0;
margin:0px;
text-align:center;
float:left;
clear:both;
font-size:11px;
}

div.pagination a {
padding: 2px 5px 2px 5px;
margin-right: 2px;
border: 1px solid #52bfea;
text-decoration: none; 
color: #52bfea;
}
div.pagination a:hover, div.pagination a:active {
border:1px solid #52bfea;
color: #fff;
background-color: #52bfea;
}
div.pagination span.current {
padding: 2px 5px 2px 5px;
margin-right: 2px;
border: 1px solid #52bfea;
font-weight: bold;
background-color: #52bfea;
color: #FFF;
}
div.pagination span.disabled {
padding: 2px 5px 2px 5px;
margin-right: 2px;
border: 1px solid #f3f3f3;
color: #ccc;
}
.selected_left_menu{
font-size:13px;
color:#111111;
font-weight:bold;
padding:0px 0 15px 0;
margin:0px;
clear:both;
}
.not_selected_left_menu{
font-size:13px;
color:#111111;
font-weight:normal;
padding:0px 0 15px 0;
margin:0px;
clear:both;
}

/* Login */

#loginbox
{
	width:500px;
	height:auto;
	padding:0px 0 0px 125px;
	margin-top:25px;
	background: url('../img/login-ico.png') 10% 0% no-repeat;
	border:0px solid green;
}

/* Login */

/* imageGallery */

#imageGallery ul {
    overflow:hidden;
}
#imageGallery li {
    float:left;
    display:inline;
    width:100px;
    height:75px;
    margin:1em 2em 1em 0;
}
#imageGallery li img {
    width:100px;
}

/* imageGallery */


/*   EXTRA  */

#top_green {
	width: 100%;
	height: 7px;
	background: #101010;
}

#user_links {
	height: 30px;
	font-size: 14px;
	color: #9d9e80;
	font-weight:normal;
	float: right;
}
#user_links a {
	color: #000;
	font-weight:bold;
	text-decoration: none;
}
#user_links a:hover {
	text-decoration: underline;
	font-weight:normal;
}

.text_heading_color
{
	color:#547a07;	
}

.active_text
{
	color:green;	
}
.inactive_text
{
	color:red;	
}
.h4css
{
	float:right;
	height:20px;
}

.none-hide-div
{
	float: left;
	height:30px;
	width:400px;
	text-align:left;
	font-weight:normal;	
	border:0px solid red;
}
.none-hide-div-inner
{
	float:left;
	height:25px;
	width:100px;
	text-align:left;
	font-weight:normal;	
	border:0px solid red;
}
.varification-div1
{
	float:left;
	height:60px;
	width:500px;
	text-align:left;
	font-weight:normal;	
	border:0px solid red;
}
.varification-div2
{
	float:left;
	height:25px;
	width:200px;
	text-align:left;
	font-weight:normal;	
	border:0px solid red;
}
.varification-div3
{
	float:left;
	height:25px;
	width:280px;
	text-align:left;
	font-weight:normal;	
	border:0px solid red;
}
.chk_box
{
	float:left;	
	padding-left:8px;
	font-weight:normal;	
}
.pad4px
{
	padding-top:4px;
}

.chk_box_big1
{
	float:left;	
	width:150px;
	padding-left:8px;
	font-weight:normal;	
	border:0px solid red;
}
.chk_box_big2
{
	float:left;	
	width:150px;
	font-weight:normal;	
}
.chk_box_big3
{
	float:left;	
	width:150px;
	padding-left:8px;
	font-weight:normal;	
	border:0px solid red;
}
.chk_box_text
{
	float:left;	
	width:110px;
	padding-left:12px;
	font-weight:normal;	
}
.chk_box_box
{
	float:left;	
	width:200px;
	padding-top:4px;
	font-weight:normal;	
}
.chk_box_new
{
	float:left;	
	width:400px;
	padding-top:4px;
	font-weight:normal;	
}
.textbox
{
	width:80px;	
}
.textbox2
{
	width:40px;	
}

.textbox4
{
	width:140px;	
}

.chk_box_box_12
{
	float:left;	
	width:200px;
	padding-top:4px;
	font-weight:normal;	
}
.chk_box_new_12
{
	float:left;	
	width:220px;
	padding-top:7px;
	font-weight:normal;	
	border:0px solid red;
}
.chk_box_big12
{
	float:left;	
	width:150px;
	font-weight:normal;	
	border:0px solid red;
}

.chk_box_new_small
{
	float:left;	
	width:70px;
	padding-top:4px;
	font-weight:normal;	
}

.chk_box_new_s
{
	float:left;	
	width:70px;
	padding-top:4px;
	font-weight:normal;	
}
.width50
{
	width:50px;
}

.size11
{
	font-size:11px;
}

.chk_box_div { float:left; }
.chk_box_text { padding-right:3px; }
.chk_box_span {	float:left; }
.chk_box_text_new { float:left; }
.chk_box_new_new { float:left; width:15px; padding-right:3px; padding-left:5px; }