/**
 *
 * Generic CSS for CakePHP
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright 2005-2010, Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright 2005-2010, Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       cake
 * @subpackage    cake.app.webroot.css
 * @since         CakePHP(tm)
 * @license       MIT License (http://www.opensource.org/licenses/mit-license.php)
 */

* {
	margin:0;
	padding:0;
}

/** General Style Info **/
body {
	background: #fff;
	color: #fff;
	font-family:verdana,helvetica,arial,sans-serif;
	font-size:12px;
	margin: 0;
}
a {
	color: #003d4c;
	text-decoration: underline;
	font-weight: bold;
	cursor:pointer;
}
a:hover {
	color: #367889;
	text-decoration:none;
}
a img {
	border:none;
}
h1, h2, h3, h4 {
	font-weight: normal;
	margin-bottom:0.5em;
}
h1 {
	background:#fff;
	color: #003d4c;
	font-size: 150%;
	font-weight: bold;
}
h2 {
	/*background:#fff;*/
	color: #000;
	font-weight: normal;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 130%;
}
h3 {
	color: #993;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 165%;
}
h4 {
	color: #993;
	font-weight: normal;
}
ul, li {
	margin: 0;
}

/** Layout **/
#container {
	text-align: left;	
}

#header{
	padding: 10px 20px 0 20px;
	/*background: #800517;*/
	background: #657AFA;
	height:auto;
	clear:both;
	border:0px solid blue;
}
#header h1 {
	line-height:20px;
	/*background: #800517;*/
	background: #657AFA;
	color: #fff;
	padding: 0px 0px;
}
#header h1 a {
	color: #fff;
	background: #003d4c;
	font-weight: normal;
	text-decoration: none;
}
#header h1 a:hover {
	color: #fff;
	background: #003d4c;
	text-decoration: underline;
}
#content{
	background: #fff;
	clear: both;
	color: #333;
	padding: 10px 20px 0px 20px;
	overflow: auto;
	min-height: 420px;
}
#footer {
	clear: both;
	background: #fff;
	padding: 6px 10px;
	text-align: right;
	border-top:1px solid #666;
	color: #000;
	font-size:80%;
}

/** containers **/
div.form,
div.index,
div.view {
	float:right;
	width:75%;
	border-left:1px solid #666;
	padding:0px 5px;
	min-height: 420px;
}
div.actions {
	float:left;
	width:auto;
	padding:0px 0px;
}
div.actions h3 {
	padding-top:0;
	color:#777;
}


/** Tables **/
table {
	background: #fff;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0;
	/*background:#61C8F3;*/
	background:#85be0f;
	color:#FFFFFF;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
	color:#FFFFFF;
}
th a:hover {
	color:#ffffff;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}

.rounded-left {
	/*background:#61C8F3 url('../img/left.jpg') no-repeat left top;*/
	background:#85be0f url('../img/left.jpg') no-repeat left top;
}
.rounded-right {
	/*background:#61C8F3 url('../img/right.jpg') no-repeat right top;*/
	padding-left:30px;
	background:#85be0f url('../img/right.jpg') no-repeat right top;
}
.rounded {
	/*background:#61C8F3;*/
	background:#85be0f;
}

table tr td {

	background: #fff;
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
	font-size: 12px;
}
table tr:nth-child(2n) td {
	background: #f5f5f5;
}
table .altrow td {
	background: #f5f5f5;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}
.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
	color:#fff;
}

/** Paging **/
div.paging {
	background:#fff;
	color: #fff;
	margin-top: 1em;
	width: 90%;
	clear:both;
}
div.paging span.disabled {
	background: gray;
	color:#fff;
	padding:2px 5px;
	text-decoration:none;
}
div.paging span {
	margin: 0 2px;
}
div.paging span.current {
	background: #7F2B52;
	color:#fff;
	padding:2px 5px;
	margin: 0 2px;
	text-decoration:none;
}
div.paging span a {
	background: #1A1A1A;
	color:#fff;
	padding:2px 5px;
	text-decoration:none;
}

/** Scaffold View **/
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}
dl .altrow {
	background: #f4f4f4;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
    margin-left: 15em;
    margin-top: -2em;
    vertical-align: top;
    width: 35em;
}

/** Forms **/
form {
	/* clear: both; */
	margin-right: 20px;
	padding: 0;
	width: 100%;
}
fieldset {
	border: 1px solid #A5ACB2;
	margin-bottom: 1em;
	padding: 16px 20px;
}
fieldset legend {
	/*background:#fff;*/
	color: #000000;
	font-size: 120%;
	font-weight: bold;
	padding: 5px 5px;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 5px;
	padding: 10px 10px;
}
fieldset fieldset legend {
	font-size: 100%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 0px;
}
form div {
	/* clear: both; */
	margin-bottom: 1em;
	/*padding: .5em;*/
	/*vertical-align: text-top;*/
}
form .input {
	/*color: #0667AE;*/
	color: #111111;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	/*display:inline;*/
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	font-size: 90%;
	margin-bottom:3px;
	font-weight: bold;
}
.labeldisplay {
	display: block;
	font-size: 90%;
	font-weight: bold;
	margin-bottom:3px;
}
input {
	clear: both;
	font-size: 100%;
	font-family: "verdana", sans-serif;
	/*padding: 1%;*/
	/*width:35%;*/
}
textarea {
	clear: both;
	font-size: 100%;
	font-family: "verdana", sans-serif;
	/*padding: 1%;*/
	width:50%;
}
select {
	clear: both;
	font-size: 90%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}

/*input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}*/

input[type=radio] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}

div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	display: inline;
	font-size: 100%;
	width: auto;
}
form .submit input[type=submit] {
	font-weight:bold;
	/*background:#4AB5DF;
	background: -webkit-gradient(linear, left top, left bottom, from(#03AFF3), to(#4AB5DF));
	background-image: -moz-linear-gradient(top, #03AFF3, #4AB5DF);*/
	background:url(../img/nav-hover.jpg) repeat-x center top;
	border-color: #2d6324;
	color: #FFFFFF;
	/*text-shadow: #A5ACB2 0px 1px 0px;*/
}
form .submit input[type=submit]:hover {
	/*background:#4AB5DF;
	background: -webkit-gradient(linear, left top, left bottom, from(#1C9FD2), to(#4AB5DF));
	background-image: -moz-linear-gradient(top, #1C9FD2, #4AB5DF);*/
	background:url(../img/nav-hover-admin.jpg) repeat-x center top;
}

/** Notices and Errors **/
div.message {
	/*clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	background: #c73e14;
	padding: 5px;*/

	clear:both;
	background:url(../img/error.png) no-repeat left #c73e14;
	border:1px #eac7c7 solid;
	font-size: 140%;
	background-position:4px 4px;
	padding:10px 20px 9px 40px;
	margin:0 0 10px 0; 
	font-weight: bold;
	color:#FFFFFF
}
div.error-message {
	clear: both;
	color: #fff;
	font-weight: bold;
	background: #c73e14;
}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	/*background: green;
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;*/
	background:url(../img/valid.png) no-repeat left green;
	border:1px #cceac4 solid;
	background-position:4px 4px;
	padding:10px 20px 9px 40px;
	margin:0 0 10px 0; 
	font-size: 140%;
	font-weight: bold;
	color:#FFFFFF;
}

/**  Actions  **/
div.actions ul {
	margin: 0;
	padding: 0;
}
div.actions li {
	margin:0 0 0.5em 0;
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
}
div.actions ul li a {
	font-weight: normal;
	display: block;
	clear: both;
}
div.actions ul li a:hover {
	text-decoration: underline;
}

input[type=submit],
div.actions ul li a,
td.actions a {
	font-weight:bold;
	padding: 4px 8px;
	/*background:#e6e49f;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1f1d4), to(#e6e49f));
	background-image: -moz-linear-gradient(top, #f1f1d4, #e6e49f);*/
	/*background:#4AB5DF;
	background: -webkit-gradient(linear, left top, left bottom, from(#03AFF3), to(#4AB5DF));
	background-image: -moz-linear-gradient(top, #03AFF3, #4AB5DF);*/
	background:url(../img/nav-hover.jpg) repeat-x center top;
	color:#fff;
	border:0px solid #aaac62;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	text-decoration:none;
	/*text-shadow: #A5ACB2 0px 1px 0px;*/
	min-width: 0;
}
input[type=submit]:hover,
div.actions ul li a:hover,
td.actions a:hover {
	/*background: #f0f09a;
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7e1), to(#eeeca9));*/
	/*background:#4AB5DF;
	background: -webkit-gradient(linear, left top, left bottom, from(#1C9FD2), to(#4AB5DF));
	background-image: -moz-linear-gradient(top, #1C9FD2, #4AB5DF);*/
	background:url(../img/nav-hover-admin.jpg) repeat-x center top;
}

/** Related **/
div.related {
	clear: both;
	display: block;
}

/** Debugging **/
pre {
	color: #000;
	background: #f0f0f0;
	padding: 1em;
}
pre.cake-debug {
	background: #ffcc00;
	font-size: 120%;
	line-height: 140%;
	margin-top: 1em;
	overflow: auto;
	position: relative;
}
div.cake-stack-trace {
	background: #fff;
	color: #333;
	margin: 0px;
	padding: 6px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
}
div.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
	color: #000;
	background-color: #F0F0F0;
	margin: 0px;
	padding: 1em;
	overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
div.cake-code-dump span.code-highlight {
	background-color: #ff0;
	padding: 4px;
}
div.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;
}
div.code-coverage-results div.uncovered span.content {
	background:#ecc;
}
div.code-coverage-results div.covered span.content {
	background:#cec;
}
div.code-coverage-results div.ignored span.content {
	color:#aaa;
}
div.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;
}
div.code-coverage-results span.line-num strong {
	color:#666;
}
div.code-coverage-results div.start {
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
	margin-top:30px;
	padding-top:5px;
}
div.code-coverage-results div.end {
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
	margin-bottom:30px;
	padding-bottom:5px;
}
div.code-coverage-results div.realstart {
	margin-top:0px;
}
div.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;
}
div.code-coverage-results span.result-bad {
	color: #a00;
}
div.code-coverage-results span.result-ok {
	color: #fa0;
}
div.code-coverage-results span.result-good {
	color: #0a0;
}

/** Admin top menu related **/
#leftmnuspace
{
	width:auto;
	padding-top:10px;
	padding-right:2px;
	height:auto;
	clear:both;
	text-align:left;
	border:0px solid yellow;
}

#main_menu{margin: 10px 0 0 0; padding: 0; border:0px solid green}
#main_menu:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden;}
#main_menu li{ list-style-type: none; float: left; white-space: nowrap; padding: 0px; display: block; margin-left: 0px;margin-right: 7px; border-bottom: 1px solid #aaa; }
#main_menu li.selected{ border-bottom: 1px solid #fff; }
#main_menu li.selected a,
#main_menu li.selected a:hover,
#main_menu li.selected a:active{ background: url('../img/tab.sprite.gif') right -80px no-repeat; border-bottom: 1px solid #fff; color:#333;font-weight:bold;}
#main_menu li a{ text-decoration: none; background: url('../img/tab.sprite.gif') right -40px no-repeat; display: block; padding: 5px 10px 3px 10px; font-weight:normal; color: #333; border-bottom: 1px solid #ccc;}
#main_menu li a:hover,
#main_menu li a:active{ background: url('../img/tab.sprite.gif') right top no-repeat; border-bottom: 1px solid #aaa;}
/***** IE *****/
* html #main_menu{ height: 1%; }
/**/

#horiz_menu
{
	padding:0 10px 0 0px;
	height:auto;
	border:0px solid red;
}

.colorpicker .inputcolor {
    width: 70px;
}

.colorpicker .samplebox {
    border: 1px solid #000;
    display: inline;
    cursor: pointer;
}

.labcolor
{
	/*color: #0667AE;*/
	color: #111111;
}

.addanother, .addanother:hover
{
	/*color: #0667AE;*/
	color: #111111;
}


.delanother, .delanother:hover
{
	/*color: #0667AE;*/
	color: #111111;
	padding-left:8px;
}



