h1,.dummyh1{
    color:#252627;
    font-size:1.8em;
    margin:0 0 .8em 0;
}
/*label:active,label:focus,input:active,input:focus{
    outline:none;
}*/
.wrap{
    margin:0 auto;
    text-align:left;
    width:100%;
}
#content{
    float:left;
    margin:15px 25px 1em 0;
    width:645px;
}
/* LISTING DETAILS */

#listing-details .seperatortw{
    margin:30px 0;
    border-top:none;
    padding:0;
}
#listing-details .seperatort{
    margin:30px 0;
    border-top:5px solid #F5F5F5;
    padding:0;
}
#listing-details .listing-results-just-added {
    margin-left:3px;
    line-height:27px;
}
#listing-details-address{
    width:515px;
    float:left;
    font-size:12px !important;
    line-height:120%;
    font-weight:normal;
}
#listing-details-address h2{
    font-weight:normal;
    font-size:1.3em !important;
    line-height:120%;
}
#listing-details-btq{
    width:130px;
    padding-top:3px;
    float:left;
    text-align:right;
}
#listing-details-tools{
    margin:15px 0 10px 0;
    line-height:100%;
}
#listing-details-tools a {
    font-size:1.1em;
    font-weight:bold;
    color:#000;
    text-decoration:none;
    line-height:100%;
}
#listing-details-tools a, #listing-details-tools .tool{
    background:#fff;
    border:1px solid #eeeeee;
    display:block;
    padding:10px 0 10px 15px;
    margin: 0;
    width: auto;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
#listing-details-tools a:hover{
    background:#F5F5F5;
}
#listing-details-tools li{
    margin:0 0 4px 0;
}
#listing-details-tools .interface{
    width:16px;
    height:16px;
    display:inline-block;
    margin:0 8px 0 0;
    display:block;
    float:left;
}
#listing-details-tools-print .interface{
    background-position:-19px -91px;
}
#listing-details-tools-email .interface{
    background-position:-1px -91px;
}
#listing-details-tools-favs .interface{
    background-position:-91px -91px;
}
#listing-details-tools-social .interface{
    background-position:-109px -145px;
}
#listing-details-tools-report .interface{
    background-position:-109px -91px;
}
#listing-details-tools-alert .interface{
    background-position:-73px -55px;
}

#listing-details-nav{
    border:1px solid #eeeeee;
    padding:10px;
    margin:0 0 15px 0;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}
#listing-details-nav .skip-back{
    float:left;
}
#listing-details-prev-next-property{
    float:right;
    color:#999;
}
#listing-details-prev-next-property .interface{
    display:inline-block;
    height:12px;
    width:8px;
}
#listing-details-prev-property{
    line-height:100%;
    padding:0 2px 0 0px;
}
#listing-details-prev-property .interface{
    background-position:-42px -127px;
}
#listing-details-next-property{
    line-height:100%;
    padding:0 0 0 2px;
}
#listing-details-next-property .interface{
    background-position:-22px -127px;
}
#listing-details-price{
    font-size:1.8em;
    line-height:120%;
    font-weight:bold;
	color:#000000;
}
#listing-details .price-modifier{
    font-size:.6em !important;
    line-height:120%;
}
#listing-details-tabs{
    margin:15px 0 0 0;
}
#listing-details-tabs .ui-tabs-panel{
    padding:2em 0 0 0;
}
/************ */
.clearfix:after{
    clear:both;
    content:".";
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
}
* html .clearfix{
    height: 1px;
}
.clearfix{
    display:block;
}
.neither{
    margin:0;
}
.fleft{
    float:left;
}
.fright{
    float:right;
}
.price span{
    font-size:.9em;    
    font-weight:normal;
}
.bottom{
    margin:0 0 1em 0 !important;
}
.ui-tabs{
    /*margin:1em 0 0 0;*/
    zoom:1;
} 
.ui-tabs .ui-tabs-nav{
    margin:0 10px;
    padding:0;
}
.ui-tabs-widget .ui-tabs-nav{
    margin:0;
}
.ui-tabs .ui-tabs-nav li{
    list-style:none;
    float:left;
    position:relative;
    top:1px;
    margin:0 6px 0 0 !important;
    border-bottom: 0 !important;
    padding:0;
    white-space: nowrap;
    line-height:100%;
}
.ui-tabs .ui-tabs-nav li a{
    color:#999999;
}
.ui-tabs .ui-tabs-nav li span{
    float:left;
    font-size:13px;
    outline:none;
    border-left:1px solid #F0C71D;
    border-right:1px solid #F0C71D;
    border-top:1px solid #F0C71D;
    background:#F5F5F5;
    border-top-right-radius:2px;
    border-top-left-radius:2px;
    -moz-border-radius-topright:2px;
    -moz-border-radius-topleft:2px;
    -webkit-border-top-right-radius:2px;
    -webkit-border-top-left-radius:2px;
    padding:9px 12px 8px 12px;
    font-weight:bold;
    margin:0 0 1px 0;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.41, rgb(238,238,238)),
        color-stop(0.71, rgb(245,245,245)),
        color-stop(0.86, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(238,238,238) 41%,
        rgb(245,245,245) 71%,
        rgb(255,255,255) 86%
    );
}
.ui-tabs-widget .ui-tabs-nav li span{
    background:#F5F5F5;
    padding:9px 12px 9px 12px;
    border-left:1px solid #dedede;
    border-right:1px solid #dedede;
    border-top:1px solid #dedede;
}
.ui-tabs .ui-tabs-nav li span:hover{
    background:#F5F5F5;
}
.ui-tabs-widget .ui-tabs-nav li span:hover{
    background:#F5F5F5;
    text-decoration:underline;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected{
    margin-bottom:-1px !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a{
   text-decoration:none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected span, 
.ui-tabs .ui-tabs-nav li.ui-state-disabled span, 
.ui-tabs .ui-tabs-nav li.ui-state-processing span{ 
    cursor: text;
    background:#fcd635;
    border-bottom:1px solid #fff;
    color:#000;
    text-decoration:none;
}
.ui-tabs-widget .ui-tabs-nav li.ui-tabs-selected span, 
.ui-tabs-widget .ui-tabs-nav li.ui-state-disabled span, 
.ui-tabs-widget .ui-tabs-nav li.ui-state-processing span{ 
    background:#fff;
    font-weight:bold;
    border-bottom:1px solid #fff;
}
.ui-tabs .ui-tabs-nav li a, 
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected span{ 
    cursor: pointer; 
}
.ui-tabs .ui-tabs-panel{ 
    display: block; 
    border-width:0;
   /* padding:1em 0 0 0;*/
    background:none;
	margin: 1px 0 0;
    border-top:1px solid #F0C71D !important;
}
.ui-tabs-widget .ui-tabs-panel{ 
    border:1px solid #dedede;
    margin:0 0 1em 0;
    padding:15px 0 !important;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    border-top-right-radius:8px;
    -moz-border-radius-bottomleft:8px;
    -moz-border-radius-bottomright:8px;
    -moz-border-radius-topright:8px;
    -webkit-border-bottom-left-radius:8px;
    -webkit-border-bottom-right-radius:8px;
    -webkit-border-top-right-radius:8px;
}
.ui-tabs .ui-tabs-hide{
    position: absolute;
    left:-10000px;
    top:-10000px;
}
#landing_browse{
    margin:1em 0 0 0;
}
#landing_browse ul,#landing_browse li{
    list-style:none;
    margin:0;
    padding:0;
}
.landing_browse_header li{
    border-bottom:1px solid #eeeeee;
    float:left;
    font-weight:bold;
    line-height:200%;
}
.landing_browse_header_main li{
    background:#F5F5F5;
    color:#000;
}
.landing_browse_header_last li{
    border-bottom:none !important;
}
.landing_browse_header span{
    display:block;
    padding:0 10px;
}
#landing_browse h3{
    color:#1122cc !important;
    font-size:1em;
    line-height:200%;
    margin:0;
    padding:0;
    text-decoration:underline;
}
#landing_browse .ui-state-active,#landing_browse .ui-state-active .landing_browse_header_3,#landing_browse .ui-state-active h3{
    background:#eeeeee;
    text-decoration:none;
}
#landing_browse .ui-state-active h3{
    color:#000 !important;
}
#landing_browse .ui-helper-reset,#landing_browse .ui-widget :active{
    outline: none;
}
.landing_browse_header_1{
    width:345px;
}
.landing_browse_header_2,
.landing_browse_header_3,
.landing_browse_links_2,
.landing_browse_links_3{
    text-align:right;
    width:150px;
}
.landing_browse_header_3,
.landing_browse_links_3{
    color:#5c1862;
}
.landing_browse_links li{
    border-bottom:1px dashed #eeeeee;
    float:left;
    line-height:200%;
    position:absolute;
    left:-999px;
}
.landing_browse_links span{
    display:block;
    padding:0 10px;
}
.landing_browse_links_1{
    background:url("/static/1296235044/www/_b/images/icons/bullet.png") no-repeat scroll 15px .85em transparent;
    width:345px;
}
.landing_browse_links_1 span{
    display:block;
    padding:0 10px 0 30px;
}
.landing_browse_header:hover,.landing_browse_links ul:hover{
    background:#F5F5F5;
    cursor:pointer;
}
#landing #carousel_widgets_med{
    margin:15px 0;
}
/* FORMS */
fieldset{
    border:0;
    line-height:100%;
    margin:0;
    padding:0;
}
legend{
    display:none;
    color:#000;
}
fieldset ol legend{
    display:block;
    font-weight:bold;
    font-size:13px;
}
fieldset ol{
    list-style:none;
    padding:0;
    margin:0;
}
.box fieldset{
    width:350px;
    /*margin:0 auto;*/
}
fieldset ol ol,
.box fieldset ol ol{
    margin:0;
    padding:1em 0 0 0;
}
fieldset li{
    margin:0;
    padding:0;
    margin:0 0 15px 0;
}
#sidebar fieldset li{
    margin:0 0 8px 0;
}
fieldset ol ol li{
    margin:0 0 5px 0;
}
fieldset label{
    font-weight:bold;
    display:block;
    margin:0 0 5px 0;
    font-size:13px;
}
fieldset ol ol label{
    font-weight:normal;
    margin:0 0 10px 0;
}
fieldset label em,
fieldset legend em{
    color:#999;
    font-weight:normal;
    font-style:normal;
}
fieldset label.error,
fielset fielset label.error{
    clear:both;
    font-size:1em;
    margin:5px 0 0 0;
    font-weight:bold !important;
    float:none;
}
fieldset .hint{
    margin:5px 0 0 0;
    color:#999;
    display:block;
    font-size:.9em;
}
fieldset .checkbox p{
    margin:-15px 0 8px 20px !important;
    line-height:100%;
}
fieldset .checkbox label{
    font-weight:normal;
    font-size:12px;
    margin:0;
}

/* INPUTS */
.text,
textarea,
.notext,
.notextmid,
.notextsm,
.notexttiny,
.midtext,
.smtext{
    font: 1em arial,helvetica,sans-serif;
    background:#fff !important;
    width:350px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    padding:3px 4px;
    border:1px solid #f0c71d;
}
select.text{
    width:360px;
}
.midtext{
    width:200px;
}
.smtext{
    width:150px;
}
.notext{
    width:125px;
}
.notextmid{
    width:100px;
}
.notextsm{
    width:70px;
}
.notexttiny{
    width:40px;
}
#sidebar .text,
#sidebar textarea{
    width:252px;
}
#sidebar select.text{
    width:262px;
}
.box textarea:focus,
.box select:focus,
.box input:focus{
    border-color:#999;
}
.zoopla optgroup{
    font:bold 1em arial,helvetica,sans-serif;
    padding:0 0 1em 0;
}
.submitBtn,
.button{
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-style:solid;
    border-width:1px;
    box-shadow:0 1px 0 #F8F8F8;
    text-decoration:none !important;
    color:#000000 !important;
    cursor:pointer;
    display:inline-block;
    font:bold 13px/16px arial,helvetica,sans-serif;
    overflow:hidden;
    margin:0;
    padding:5px 9px;
    background:#fcd635;
    border-color:#fcd635;
    background:#fcd635;
}
.submitBtn:hover,
.button:hover{
    background:url(/static/1334066932/www/_b/images/buttons/button-bg.png) repeat-x 0 -80px #fcd635;
}








