/* Demo CSS - You do not need this css in your own slider */



pre{
	font-family: "Source Code Pro", monospace;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: whiteSmoke;
	border: 1px solid #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


pre + h2{
	margin-top: 80px;
}

#banner-fade,
#banner-slide{
	/*margin-bottom: 60px;*/
    width:100%;
	height:auto;
	max-width: 100% !important;
}

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#fff;
	color:#000;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
}

ol.bjqs-markers li a{
	padding:3px;
	background:#232020;
	color:#fff;
	margin:5px;
	width: 8px;
	height:8px;
	text-decoration: none;
	text-indent:-9999px;
	border:1px solid #cda43a;
	 border-radius: 10px 10px 10px 10px;
	  -moz border-radius: 10px 10px 10px 10px;
	  -webkit-border-radius: 10px 10px 10px 10px;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #cda43a;
	border:1px solid #fff;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}