/* BEGIN css_box */
#big-video-wrap img {
    height: 100% !important;
    max-width: none !important;
    position: fixed;
    width: auto !important;
}

@media (max-width:580px) {
    .port-item {
        width: 100%;
    }

    .port-item .prf img {
        width: 100%!important;
    }
}

@media (max-width:768px) {
    .col-xs-12 {
        /*width: 300px!important;*/
        float: none;
        margin: 20px auto;
    }
}

.footer {
    margin: 0;
}
/* END css_box */
