@charset "utf-8";
/* CSS Document */

.orng {
	background-color:#fa7d01;
	border:1px solid #fa7d01;
	border-radius:10px;
	padding:15px;
	color:#ffffff !important;
	min-height:358px !important;
}
.ui-menu .ui-icon{
	background:none !important;
	display:none !important;
}
.ui-menu a{
	font-size:11px;
	padding:5px !important;
}
#myModal1 label, #myModal2 label{
	font-weight:bold;
}
.frm-wrap{
	background:#ffffff;
	box-shadow:0px 2px 3px 0px #666666;
}
.frm-wrap label{
	font-size:12px;
	color:#666666;
}
#myModalNL{
	background:#FA7D01;
	border:5px solid #ffffff;
	box-shadow:0 0 2px 2px #cccccc;
}
#myModalLabelNL{
	border:none;
	font-size:16px;
	line-height:19px;
}
.nl-label1{
	margin-bottom:20px;
	font-weight:bold;
}
.nl-label2{
	font-size:11px !important;
	color:#c3c2c2 !important;
}
.yalo {
background-color:#f4760f;
    border:1px solid #f4760f;
	padding:15px;
	color:#ffffff !important;
    border: 1px solid #FA7D01;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #FA7D01;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
.yalo-contact {
    margin-top: 20px;
    border:0px solid #f4760f;
    padding:15px;
	color:#ffffff !important;
    border: 0px solid #FA7D01;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #bfbdbd;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
.yalo-contact h1{
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;  
    
}
.yalo h1{
	font-size:43px;
	font-weight:bold;
	text-align:center;
	padding:50px 0 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.yalo-l{
	border-right:5px solid #ffffff;
}
.yalo-l p{
	font-size:17px;
	text-transform:uppercase;
}
.yalo-r img{
	width:25px;
	float:left;
	margin:0 5px 0 0;
}
.advanced-search-box label{
	font-weight:bold;
}

.modal-edit{
	background:/*url(../img/worker.png) no-repeat right*/;
	min-height:153px;
}
.hk-selt{
	background: -webkit-linear-gradient(#ffffff, #e9e9e9); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ffffff, #e9e9e9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ffffff, #e9e9e9); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#ffffff, #e9e9e9); /* Standard syntax */
} 
.yalo-r a img{
	width:45px;
	float:left;
	margin:0 5px 0 0;
}
.yalo-r{
	padding:25px 0 0 0;
}
.yalo-r p{
	font-size:17px;
	/*font-weight:bold;*/
	margin:0 0 25px 0;
}

.orng2 {
	background-color:#fa7d01;
	border:1px solid #fa7d01;
	border-radius:10px;
	color:#ffffff !important;
	width:100%;
	margin:0;
	
}
.tv {
	/*margin-top:164px;*/
	max-width:691px;
	height:374px;
	background:url(../img/tv.png) no-repeat;
	background-size:cover;
	padding:215px 163px 131px 74px;
	margin-left:150px;
}
.tv iframe {
	height:391px;
}
#myModalNL{
	border-radius:0 !important;
	padding:12px;
}
#myModalNL .modal-body {
	position: relative;
	max-height: 400px;
	padding: 5px;
	overflow-y: auto;
}
#myModalNL .modal-header {
    border-bottom: 1px solid #EEEEEE;
    padding: 9px 5px;
}
.bord{
		border:1px solid #cccccc;
		padding:10px;
		margin-right:10px;
		margin-bottom:20px;
		box-shadow:0 0 2px 1px #d6d6d6;
	}
	.bord h4{
		padding:0 0 5px;
		border-bottom:2px solid #000000;
		width:100%;
	}
	.bord2{
		border:1px solid #cccccc;
		box-shadow:0 0 2px 1px #d6d6d6;
	}
	.bord2 h4{
		padding:0 0 10px;
		border-bottom:2px solid #000000;
		width:100%;
	}
	.bor-thank{
		border:1px solid #F4760F;
		background:#FCEBDE;
		min-height:320px;
		margin:0 0 10px 0;
	}
	.bor-thank h2{
		padding:15px;
		background:#FCEBDE;
		margin:0;
	}
	.bor-thank-con{
		padding:25px 15px;
		background:#FFFDFC;
		border-top:1px solid #cccccc;
		border-bottom:1px solid #cccccc;
	}
/*.tv2{
	max-width:400px;
	height:374px;
}*/
@media (min-width: 1200px) {
	
.hk-tv{
	margin:0 0 0 -50px !important;
}
.full {
	max-width:99% !important;
	padding:10px;
	background-color:#fa7d01;
}
.full2 {
	max-width:99% !important;
	padding:50px 10px;
	background-color:#f0f0f0;
}
.text-size1 {
	font-size:17px !important;
	font-style:normal !important;
	line-height:31px;
	padding:10px !important;
}
.text-size2 {
	font-size:12px !important;
	text-align:justify;
	height:158px;
}
.row-fluid .calender{
	background-image:url('../img/calender.png');
	background-repeat:no-repeat;
	/*background-size:cover;*/
	background-size:small;
	background-position:top;
	padding:50px 20px 0;
	/*border:2px solid #999999;*/
	border-top:none;
	max-width:79%;
	margin:0 auto
}
.footer input, textarea{
	padding:6px 7px;
	border-radius:25px;
}
.t-area{
	padding:6px 7px;
	font-size:16px;
	border-radius:4px !important;
	font-family:'corbelregular';
}
.foll img{
	margin-right:5px;
}
.foll2{
	margin-left:15px;
}
.orng-border {
	background-color:#fa7d01;
	padding:2px 0 3px;
	color:#ffffff !important;
	clear:both;
	margin:5px 0 0 0;
}
.left-cat{
	background:#fff;
	border:1px solid #222;
	padding:5px;
	margin:0 0 15px !important;
	position:static !important;
	border-radius:0 !important;
}
.pad{
	padding:0 !important;
	margin:0 !important;
	font-size:12px !important;
}
.pad-ad{
	padding:15px 0 5px;
}
.pad-ad2{
	padding:0px 0 25px;
}
.hack-1{
	position:static;
	margin:0 !important;
	background:none !important;
	border:none !important;
}
.hack-2{
	color:#222;
	font-weight:400;
	font-size:25px;
	margin:0 0 15px;
}
.hack-2.lan_spok {
    margin: 15px 0;
}
.container .nav-pills > li {
    margin: 0 10px 0 0;
    padding: 0;
}
.white{
	color:#ffffff !important;
	font-size:20px;
	padding-bottom:5px;
	text-shadow:1px 0px 1px #666666;
}
.white2{
	color:#ffffff !important;
	font-size:42px;
	padding-bottom:15px;
	padding-top:25px;
	text-shadow:1px 0px 1px #666666;
}
.pad2{
	padding:5px 32px !important;
	vertical-align:6px;
	border-radius:23px;
	font-family:'corbelregular' !important;
	
}
.cent img{
	margin:0 auto !important;
}
.right{
	right:0 !important;
	width:40px !important;
	z-index:9999;
	top:164px;
}
.right img{
	padding:0 15px 3px 0;
}

.bottom{
	bottom:0;
	right:0;
	z-index:9999;
}
/*.round{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 201px;
    color: #333333;
    margin: 50px 0 0 -85px;
    max-height: 168px;
    max-width: 476px;
    padding: 77px;
    position: absolute;
    text-align: center !important;
    z-index: 100 !important;
}*/
.round{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 288px;
    color: #333333;
    font-size: 12px;
    margin:/*4px 0 0 -90px*/ 46px 0 0 -70px;
    max-height: 261px;
    max-width: 444px;
    padding: /*20px 17px 64px 73px*/ /*20px 48px 64px*/ 6px 35px 46px;
    position: absolute;
    text-align: center !important;
    z-index: 100 !important;
}
.round p{
	text-align:center !important;
}
.captcha span{
	color:#ffffff;
	font-size:20px;
	text-shadow: 1px 0 1px #666666;
}
.round2{
	/*margin:-63px 0 0 147px;*/
	margin:144px -169px 0 0;
}
.round2 img{
	z-index:10 !important;
}
.round3{
	margin:-161px 0 0;
}
.pad-icon{
	padding:0 25px 0 0;
}
.top-pad{
	padding:15px 0 0 0 !important;
}
.red{
	background:#880015;
}
.mrg2{
	margin:50px 0 0 0;
}
.mrgRight-10{
	margin-right:10px;
}
.wht{
	padding:10px 0 0 0;
	text-align:right;
	font-weight:bold;
}

.wht a{
	color:#333333 !important;
	font-size:12px;
	padding:0 10px 0 0;
	font-family:'verdanaregular';
	text-transform:uppercase;
	
}
.red-col{
	color:#FF0000;
}
.wht a:hover{
	color:#febd01 !important;
	text-decoration:none;
}
.fast a{
	padding-left:0 !important;
}
.f-hed{
	font-size:/*64.5px*/ 90.5px;
	color:#ffffff;
	padding-bottom:15px;
	text-shadow:1px 0px 1px #666666;
}
/*.t-sw{
	text-shadow:1px 1px 1px #666666;
}*/
.footer label{
	color:#ffffff;
	font-size:20px;
	text-shadow:1px 0px 1px #666666;
}
.pad-top{
	padding-top:130px;
}
.hk-link{
	color:#FA7D01;
	padding:5px;
}
.hk-link:hover{
	color:#333333;
	text-decoration:none;
}
.mini-bio{
	height:50px;
}
#myModalNL{
	border-radius:0 !important;
	padding:35px;
	width:400px;
}
.frm-wrap{
	padding:10px;
}
/*------------ Calender Start---------------------*/

/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */.clearfix{*zoom:1}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}.clearfix:after{clear:both}.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.bootstrap-datetimepicker-widget{top:0;left:0;width:250px;padding:4px;margin-top:1px;z-index:3000;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.bootstrap-datetimepicker-widget:before{content:'';display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-bottom-color:rgba(0,0,0,0.2);position:absolute;top:-7px;left:6px}.bootstrap-datetimepicker-widget:after{content:'';display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;position:absolute;top:-6px;left:7px}.bootstrap-datetimepicker-widget.pull-right:before{left:auto;right:6px}.bootstrap-datetimepicker-widget.pull-right:after{left:auto;right:7px}.bootstrap-datetimepicker-widget>ul{list-style-type:none;margin:0}.bootstrap-datetimepicker-widget .timepicker-hour,.bootstrap-datetimepicker-widget .timepicker-minute,.bootstrap-datetimepicker-widget .timepicker-second{width:100%;font-weight:bold;font-size:1.2em}.bootstrap-datetimepicker-widget table[data-hour-format="12"] .separator{width:4px;padding:0;margin:0}.bootstrap-datetimepicker-widget .datepicker>div{display:none}.bootstrap-datetimepicker-widget .picker-switch{text-align:center}.bootstrap-datetimepicker-widget table{width:100%;margin:0}.bootstrap-datetimepicker-widget td,.bootstrap-datetimepicker-widget th{text-align:center;width:20px;height:20px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.bootstrap-datetimepicker-widget td.day:hover,.bootstrap-datetimepicker-widget td.hour:hover,.bootstrap-datetimepicker-widget td.minute:hover,.bootstrap-datetimepicker-widget td.second:hover{background:#eee;cursor:pointer}.bootstrap-datetimepicker-widget td.old,.bootstrap-datetimepicker-widget td.new{color:#999}.bootstrap-datetimepicker-widget td.active,.bootstrap-datetimepicker-widget td.active:hover{color:#fff;background-color:#006dcc;background-image:-moz-linear-gradient(top,#08c,#04c);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));background-image:-webkit-linear-gradient(top,#08c,#04c);background-image:-o-linear-gradient(top,#08c,#04c);background-image:linear-gradient(to bottom,#08c,#04c);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);border-color:#04c #04c #002a80;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#04c;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25)}.bootstrap-datetimepicker-widget td.active:hover,.bootstrap-datetimepicker-widget td.active:hover:hover,.bootstrap-datetimepicker-widget td.active:active,.bootstrap-datetimepicker-widget td.active:hover:active,.bootstrap-datetimepicker-widget td.active.active,.bootstrap-datetimepicker-widget td.active:hover.active,.bootstrap-datetimepicker-widget td.active.disabled,.bootstrap-datetimepicker-widget td.active:hover.disabled,.bootstrap-datetimepicker-widget td.active[disabled],.bootstrap-datetimepicker-widget td.active:hover[disabled]{color:#fff;background-color:#04c;*background-color:#003bb3}.bootstrap-datetimepicker-widget td.active:active,.bootstrap-datetimepicker-widget td.active:hover:active,.bootstrap-datetimepicker-widget td.active.active,.bootstrap-datetimepicker-widget td.active:hover.active{background-color:#039 \9}.bootstrap-datetimepicker-widget td.disabled,.bootstrap-datetimepicker-widget td.disabled:hover{background:0;color:#999;cursor:not-allowed}.bootstrap-datetimepicker-widget td span{display:block;width:47px;height:54px;line-height:54px;float:left;margin:2px;cursor:pointer;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.bootstrap-datetimepicker-widget td span:hover{background:#eee}.bootstrap-datetimepicker-widget td span.active{color:#fff;background-color:#006dcc;background-image:-moz-linear-gradient(top,#08c,#04c);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));background-image:-webkit-linear-gradient(top,#08c,#04c);background-image:-o-linear-gradient(top,#08c,#04c);background-image:linear-gradient(to bottom,#08c,#04c);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);border-color:#04c #04c #002a80;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#04c;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25)}.bootstrap-datetimepicker-widget td span.active:hover,.bootstrap-datetimepicker-widget td span.active:active,.bootstrap-datetimepicker-widget td span.active.active,.bootstrap-datetimepicker-widget td span.active.disabled,.bootstrap-datetimepicker-widget td span.active[disabled]{color:#fff;background-color:#04c;*background-color:#003bb3}.bootstrap-datetimepicker-widget td span.active:active,.bootstrap-datetimepicker-widget td span.active.active{background-color:#039 \9}.bootstrap-datetimepicker-widget td span.old{color:#999}.bootstrap-datetimepicker-widget td span.disabled,.bootstrap-datetimepicker-widget td span.disabled:hover{background:0;color:#999;cursor:not-allowed}.bootstrap-datetimepicker-widget th.switch{width:145px}.bootstrap-datetimepicker-widget th.next,.bootstrap-datetimepicker-widget th.prev{font-size:21px}.bootstrap-datetimepicker-widget th.disabled,.bootstrap-datetimepicker-widget th.disabled:hover{background:0;color:#999;cursor:not-allowed}.bootstrap-datetimepicker-widget thead tr:first-child th{cursor:pointer}.bootstrap-datetimepicker-widget thead tr:first-child th:hover{background:#eee}.input-append.date .add-on i,.input-prepend.date .add-on i{display:block;cursor:pointer;width:16px;height:16px}.bootstrap-datetimepicker-widget.left-oriented:before{left:auto;right:6px}.bootstrap-datetimepicker-widget.left-oriented:after{left:auto;right:7px}
 /*-------------------Calender End------------------------*/
.pay-con{
	background:#F4760F !important;
	color:#ffffff;
	border:1px solid #F4760F !important;
}
.pay-bor{
	border:1px solid #F4760F !important;
	margin:0 0 15px 0;
}
.sml-font{
	font-size:11px;
	line-height:16px;
	padding:5px 0 0 0;
}
.prf-dtl{
	padding:5px !important;
}
.mrg-del-right{
	margin-right:0 !important;
}
.toolTip-box:hover .toolTip-box-wrap{
	border:1px solid #3333333;
	padding:10px;
	background:#ffffff;
}
.ch-info:hover .infobox{
	display:block;
}
.infobox{
	padding:5px;
	background:#FDC53C;
	display:none;
	position:absolute;
	font-size:12px;
	line-height:12px;
}
.infobox p{
	padding:0 0 5px;
	margin:0;
}
.last .infobox{
	right:0;	
}
}
.profile_pic {
}
.profile_pic img {
    border : 2px #eee solid;
}
.well.contact_btn {
    padding: 20px 0;
    box-shadow : none;
    border-radius : 0; 
}
.advanced-search-box .bootstrap-select > .btn {
    border-color: #555;
    box-shadow: 1px 1px 1px #666;
}
.left-cat h5 {
    margin : 0;
}