
/* CSS Document */

div#midground{
background: transparent url(cloud-bh.png) 30% 128px repeat-x;
margin: 0;
padding: 0;
width: 100%;
}
div#foreground{
background: transparent url(cloud-bi.png) 40% 180px repeat-x;
margin: 0;
padding: 0;
width: 100%;
}

/* Fix for Google Chrome clipped background bug */

img {
	border:none;	
}



.tip {
	border-bottom:2px dashed #e00;
	cursor:help;
}

.showhide, .showhideopen {
	cursor:pointer;
	font-weight:bold;
	padding:5px;
	background:#f90;
	border:#666;
	margin-bottom:10px;
	display:block;
	font-size:13px;
	
	background-image:url(showhide.png);
	background-repeat:no-repeat;
	background-position:left;
	padding-left:20px;
}
.showhide:hover, .showhideopen:hover {
	color:#FFF;	
}
 .showhideopen {
	 background-image:url(showhide.png);
 }

.codeblock, .codeblock-noscroll {
	
	font-family:"Courier New", Courier, monospace;
	font-size:11px;
	padding:10px;
	color:#000;
	background:#eee;
	border:1px solid #CCC;
	line-height:1.5em;
	overflow:auto;
	height:512px;
}
 .codeblock-noscroll {
 	height:auto;	
 }

.codeblock .comment, .codeblock-noscroll .comment {
	color:#777;
}

#container {	
	width:800px;	
	margin-left:auto;
	margin-right:auto;
	/*background-color:#fff;*/		
	
}

/* Feature section in ZoomEngine page */
.zoom-section {	
	clear:both;		
}

* html .zoom-section { 
	display:inline;
	clear:both;
}
/* Feature descriptions in ZoomEngine page */
.zoom-desc {
	float:left;
	margin-left:10px;
	margin-bottom:20px;

}

.zoom-small-image {
	border:4px solid #CCC;
	float:left;
	margin-bottom:20px;
	width:420px;
}
.zoom-tiny-image {
	border:1px solid #cccccc;
	margin:0 10px 0 0;
	
}
.zoom-tiny-image:hover {
	border:1px solid #C00;		
}

