h1.promo-text, h2.promo-text {
    color: #000;
    font-size: 3.5vw;
    line-height: 1.2;
    text-shadow: 2px 2px 2px rgba(255,255,255,0.6)
}

.promo-text{
    -webkit-font-smoothing: antialiased; color: rgb(255, 255, 255); 
    font-weight: 700; 
    text-shadow: rgb(50, 50, 50) 1px 1px 1px;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px !important;
}

.m-r-sm-15 {
    margin-right: 15px;
    box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.3)
}

#section-hero{
    background: rgba(0, 0, 0,0.2);
}

#section-hero .cta-bottom-float-border h1 {
    margin-bottom: 20px;
    color: #000;
    font-size: 3.5vw;
    line-height: 1.2;
    text-shadow: 2px 2px 2px rgba(255,255,255,0.6);
}

#section-hero #video_background_video_0 img{
    background-size: cover; 
}
.us-text-17 {
    font-size: 20px;
    line-height: 22px;
    text-transform: none;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}
#image-text-grid h2 span, .weight-semi-bold {
    font-weight: 500;
}
.margin-t-15 {
    margin-top: 15px;
}
.us-text-18 {
    font-size: 18px;
    line-height: 22px;
}
.weight-semi-bold {
    font-weight: 500;
}
.margin-t-15 {
    margin-top: 15px;
}
.text-uppercase {
    text-transform: uppercase;
}

.us-text-22{
    font-size: 22px;
}
td .small{
    text-transform: uppercase;
    color: rgb(255,142,0);
}

td img{
    width: 40px;
    height: 40px;
}

td h4{
    color: #000;
    text-transform: uppercase;
}

th.btn-warning h3{
    color: #fff !important;
    text-align: center;
}
th.btn-danger h3{
    color: #fff !important;
    text-align: center;
}

#four-pinheads {
    background: #FFF;
    overflow: hidden;
}

#four-pinheads .bubble {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    background-color: rgba(59,182,93,.9);
    text-align: center;
    font-size: 22px;
    line-height: 24px;
    border: 3px solid #fff;
    padding: 35px;
    position: relative;
    color: #fff;
}

#four-pinheads .map-icons .bubble-container {
    display: inline-block;
    position: absolute;
}

#four-pinheads .map-icons .bubble-container.bubble-one {
    left: 160px;
    bottom: -400px;
}

#four-pinheads .map-icons{
    margin-top: 50px
}
/*#four-pinheads .map-icons .bubble-container.bubble-one {
    margin-left: 0;
    margin-bottom: -243px;
}*/

#four-pinheads .map-icons .bubble-container.bubble-two {
    margin-left: 340px;
}
/*#four-pinheads .map-icons .bubble-container.bubble-two {
    margin-left: 222px;
    margin-bottom: -400px;
}*/
#four-pinheads .map-icons .bubble-container.bubble-three {
    left: 560px;
    bottom: -400px;
}

/*#four-pinheads .map-icons .bubble-container.bubble-three {
    margin-left: 455px;
    margin-bottom: -260px;
}*/

#four-pinheads .map-icons .bubble-container.bubble-four {
    left: 760px;
}

/*#four-pinheads .map-icons .bubble-container.bubble-four {
    margin-left: 720px;
    margin-bottom: -330px;
}*/

#section-three-bubbles {
    background: url(../img/housemaid.jpg) rgba(0,0,0,0.7);
    background-size: cover;
    background-position-y: -43px;
    padding-top: 40px;
    background-position: 50%;
}

.background-section .headline {
    text-align: center;
}

#section-three-bubbles .headline h2 {
    margin-bottom: 15px;
    color: #000;
    font-weight: 300;
}

#section-three-bubbles .colorful-circle {
    padding-top: 100px;
    margin-bottom: 100px;
}


/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color:rgb(255,142,0);
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 0%;
    margin-top: 0px;
    border-left: 0;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    border-left: 45px solid rgb(255,142,0);
    bottom: 0%;
}

.offer-tab{
    margin-top: 40px;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 50px;
  padding-top: 0px;
}

div.bhoechie-tab-content h2{
    color: rgb(255,142,0);
    line-height: 1.2;
    margin-top: 0px;
}

div.bhoechie-tab-content ul{
    line-height: 2;
    margin-left: 15px;
    font-size: 17px;
}

div.bhoechie-tab-content h3{
    color: rgb(0,0,0);
    line-height: 1.2;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: rgb(255,142,0);
    border-color: rgb(255,142,0);
}

.list-group-item {
    position: relative;
    display: block;
    padding: 15px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border-left: 0px solid #dddddd;
    border-top: 0px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}


div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

h2.promo-text {
    font-size: 45px;
    line-height: 50px;
    font-weight: 100;
}

h3.promo-text {
    font-size: 25px;
    line-height: 27px;
    color: #FFF;
    line-height: 1.2;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}

#section-three-bubbles .colorful-circle .circle {
    height: 230px;
    width: 230px;
    padding: 20px;
}

#section-three-bubbles .colorful-circle .circle {
    height: 280px;
    width: 280px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto 15px;
    padding: 20px;
}

#section-three-bubbles .colorful-circle .circle.orange {
    background-color: #eb6955;
    opacity: .9;
    color: #fff;
}

#section-three-bubbles .colorful-circle .circle .icon {
    display: block;
    max-width: 100%;
    margin: 0 auto 10px;
}

#section-three-bubbles .colorful-circle .circle .title {
    font-size: 24px;
    line-height: 26px;
    display: block;
    margin-bottom: 10px;
}

#section-three-bubbles .colorful-circle .circle .description {
    font-size: 12px;
    line-height: 14px;
}
.cta-block.bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.cta-block.green {
    background-color: rgba(59,182,93,.9);
    padding: 20px 0px;
}

.cta-block.black {
    background-color: rgba(0,0,0,.8);
    padding: 20px 0px;
}

.cta-block.black.bottom {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn.btn-border-white {
    padding: 9px 30px 6px;
}

.btn.upper {
    text-transform: uppercase;
}

.btn.btn-border-white {
    color: #fff;
    border: 1px solid #fff;
}

.cta-block.orange {
    background-color: hsla(8,79%,63%,.9);
    padding: 20px 0px;
}

h3.marketing-text {
    font-size: 36px;
    line-height: 40px;
    font-weight: 300;
    color: #000;
}

h4.marketing-text {
    font-size: 26px;
    line-height: 32px;
    color: #000;
}

.background-section {
    padding: 40px 0;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    position: relative;
}

.background-section .headline {
    text-align: center;
}

#section-hero .cta-bottom-float-border {
    /*width: 90%;*/
    margin: 15% auto;
    padding: 20px 15px;
    border: 5px solid #fff;
    /*min-height: 550px;*/
}
.modal-sm {
    width: 300px;
}

#section-four{
    background: #fff !important;
    padding: 5px 0px;
    text-align:center;
}

@media (max-width: 1171px){
    #section-hero {
        background-position: 0 -50px;
        background-size: cover;
    }
}

@media (max-width: 992px){
    #section-hero {
        background-position: -100px -60px;
    }
    #section-hero .cta-bottom-float-border {
        margin: 0;
    }
    #four-pinheads {
        min-height: 800px;
    }
    h3.marketing-text {
        font-size: 36px;
        line-height: 40px;
        font-weight: 300;
    }
    h4.marketing-text {
        font-size: 24px;
        line-height: 26px;
        font-weight: 300;
    }
}

@media (max-width: 768px){
    #section-hero {
        background-position: -300px -40px;
        background-size: initial;
    }
    #section-hero .cta-bottom-float-border {
        padding: 30px 20px;
        width: 100%;
    }
    h1.promo-text {
        font-size: 36px;
        line-height: 40px;
        font-weight: 300;
    }
    
    #four-pinheads {
        min-height: 500px;
        padding-bottom: 0;
    }
    h3.marketing-text {
        font-size: 36px;
        line-height: 40px;
        font-weight: 300;
    }
    h4.marketing-text {
        font-size: 26px;
        line-height: 32px;
    }
    .cta-block.bottom {
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .modal-sm {
        width: 300px;
    }
}

@media (max-width: 750px){
    #section-hero {
        background-position: center 50px;
    }
}

@media (max-width: 480px){
    #section-hero {
        background-size: cover;
        padding-top: 0px;
        min-height: auto;
    }
    #section-hero .cta-bottom-float-border {
        width: 90%;
        margin: 60px auto;
        padding: 20px 15px;
        border: 5px solid #fff;
    }
    h3.marketing-text {
        font-size: 26px;
        line-height: 30px;
    }
    h4.marketing-text, h5.marketing-text {
        font-size: 22px;
        line-height: 26px;
    }
    .home-button {
        position: relative;
        margin-top: -65%;
    }
    .btn-lg{
        font-size: 10px;
        line-height: 12px;
        padding: 3px 5px;
    }
    .us-text-17 {
        font-size: 10px;
        line-height: 12px;
    }
    .us-text-18 {
        font-size: 10px;
        line-height: 12px;
    }
    .m-r-sm-15 .btn-lg .us-text-18{
        font-size: 10px;
        line-height: 12px;
    }
    .margin-t-15 {
        margin-top: 5px;
    }
    .m-r-sm-15 {
        margin-right: 5px;
        box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.3);
    }
}

@media (max-width: 410px){
    .logo{
        width: 150px;
    }
    #section-hero {
        min-height: auto;
    }
    #section-hero .cta-bottom-float-border {
        padding: 20px 10px;
    }
    h3.marketing-text {
        font-size: 23px;
        line-height: 25px;
    }
}

@media (max-width: 370px){
    #section-hero {
        background-size: cover;
        min-height: auto;
        position: relative;
    }
    h3.marketing-text {
        font-size: 18px;
        line-height: 22px;
    }
}

@media (max-width: 1171px){
    #section-hero {
        background-size: cover;
        background-position: 0px -50px;
    }
}

@media (max-width: 370px){
    #section-hero {
        background-size: cover;
        min-height: auto;
        /*position: relative;*/
        background-position: 50% 0px;
        background-repeat: no-repeat no-repeat;
    }
}

#video_background_video_0 img{
    width: 100%;
}

fieldset, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }

.rating { 
    border: none;
    float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
    margin: 5px;
    font-size: 2.55em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before { 
    content: "\f089";
    position: absolute;
}

.rating > label { 
    color: #ddd; 
    float: right; 
}

.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover,  
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  }

.rating > input:checked + label:hover, 
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, 
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }