#main-nav,
#utilities,
#search,
#search-home,
#search-listings,
#mpu,
#banner_468,
#banner_120,
#bookmarks,
#footer-seo-links,
#footer-seo-normal,
#ad_placement_1,
#ad_placement_2,
.featured_header,
#social-media,
.ui-tabs-nav,
#featured_listings,
#carousel_widgets,
#listing-contact,
#mlt_header,
#mlt,
#relevant_agents_header,
#form_relevant_agents,
#nearby_related,
#useful-links,
#quick-form,
.fright,
.more,
.paginate,
.jqModal,
.tooltip,
h2 span a,
.submitBtn,
.noprint,
.skip-back,
.search2row,
#form_search_showing1,
.none,
.right,
.hlink,
#breadcrumbs{
    display:none !important;
}
body{
    font:12pt arial,helvetica,sans-serif;
}
a{
    color:#781351;
}
img{
    border:0;
    display:block;
}
table{
    border-collapse:collapse;
    margin:20px 0;
    width:100%;
}
.estate-agents-results-item,
.listing-results li,
#footer{
    border-top:2px solid #000;
    padding:20px 0 0 0;
    margin:20px 0 0 0;
}
#images,
#area-overview{
    border-bottom:2px solid #000;
    padding:0 0 20px 0;
    margin:0 0 20px 0;
}
.listing-results{ 
    list-style:none;
    margin:0;
    padding:0;
}
.listing-results li{ 
    position:relative;
}
.listing-results .agent_logo{
    position:absolute;
    top:20px; 
    right:0;
}
#map{ 
    height:383px;
    width:600px;
    position:relative;
}
#logo a {
    border-bottom:2px solid #000;
    color:#000;
    font-size:1.6em;
    display:block;
    padding:0 0 10px 0;
    text-decoration:none;
}
.stripe td{
    border-bottom:1px solid #000;
    padding:5px 0;
}
th{
    font-weight:bold;
    text-align:left;
}
caption{
    font-size:13pt;
    font-weight:bold;
    text-align:left;
}
h2,h3{
    clear:left;
}
h2 a{
    color:#000;
    text-decoration:none;
}
#images-thumbs li{
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    width:90px;
}
#listings-agent{
    display:block !important;
}
.clearfix:after{
    clear:both;
    content:".";
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
}
* html .clearfix{
    height: 1px;
}
.clearfix{
    display:block;
}
