/*
.navbar .nav {
    margin: 8px 10px 0 0;
}
.navbar .nav > li {
    background: #d23957;
    margin-right: 1px;
}
.navbar-inverse .nav > li > a {
    padding : 5px 10px;
    color : #FFF;
}
.navbar-inverse .nav > li > a:hover,.search_area .btn:hover {
    background: #FA7D01;
}
.search_area .input-large.span3 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #fff;
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
}
.search_area .btn {
    background: none repeat scroll 0 0 #d23957;
    border: none;
    border-radius: 0;
    color: #fff;
    height: 36px;
    border-radius: 0 !important;
}
.search_area .input-append {
    background: none repeat scroll 0 0 #000;
    margin: 8px 0 0;
    padding: 0;
}
*/
.span4.pull-right.wht {
    margin: 10px 0;
}
.advanced-search-box {
    margin: 10px 0 20px 0;
}
.advanced-search-box .field {
    min-width: 195px;
}
.sidebar ul li.left-cat .span4 {
    max-width: 60px;
    float: left;
}
.sidebar ul li.left-cat .span8 {
       float: left;
       max-width: 203px;
}
@media (max-width: 979px) {
    /*.navbar-inner .container {
        background: #333;
        position: relative;
        height: 40px;
        z-index: 99999;
    }
    .navbar .nav {
        margin: 0;
        background: #FFF;
    }
    .btn-navbar > span {
        display: inline-block;
        text-transform: uppercase;
    }
    .nav-collapse.collapse {

    }
    .navigation .nav > li,.navbar .nav > li {
        margin: 0;
    }
    .navbar-inverse .btn-navbar,.navbar-inverse .btn-navbar:hover {
        background: none;
        border: none;
        box-shadow: none;
        cursor: pointer;
        float: none;
        margin: 0;
        padding: 14px;
    }
    body > .navbar-fixed-top .brand {
        position: absolute;
        right: 0;
        top: 0;
    }
    .search_area .input-append {
        margin: 0;
    }
    .search_area .input-large.span3,.search_area .btn{
        height: 40px;
    }
    */
    .sidebar ul li.left-cat .span4 {
        margin : 6px;
    }
    
}
@media (max-width: 767px) {
    .bottom {
        display: none;
    }

}
@media (max-width: 480px) {

}
@media (max-width: 360px) {
    
}
