/*-----------------------------------------GENERAL SECTION--------------------------------------------------*/
body, html {
}

body {
    color: #666;
    font-size: 14px;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    background: #8d665b url(../images/HNCK2757-1300x866.jpg)no-repeat center;
    background-size: cover;
}

.no-margin{
    margin:0px !important;
}

.no-padding{
    padding:0px !important;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin: 6px;
    line-height: 1.428571429;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

i:hover {
  position: relative;
}

i[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20px;
  background:#999;
  color: #fff;
  border-radius: 4px;
}

.navbar-default .navbar-nav > li > a {
     color: #888; 
}

.navbar-default {
    background-color: #fff; 
    border-color: none; 
}

.navbar {
    position: relative;
    min-height: auto; 
    margin-bottom: 0px; 
    border: 1px solid transparent;
}
.home-button{
    position: relative;
    margin-top: -50%;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    cursor: inherit;
}

a {
    color: #777;
    transition: ease .3s;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -o-transition: ease .3s;
    -ms-transition: ease .3s;
}

a:hover {
    text-decoration: none;
    color: #777;
}

a:focus {
    outline: none;
    color: #999999;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #d9534f;
}

.cta-gray-float-border {
    padding: 5px 10px;
    background: hsla(0,0%,100%,.9);
    margin-top: 30px;
    margin-bottom: 30px;
    border: 5px solid #fff;
}

.cta-gray-float-border1 {
    padding: 15px 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.mrgn-btm h2{
    color: rgb(255,142,0);
}

.mrgn-btm span{
    color: #444;
    font-size: 20px;
    
}

iframe {
    border: none;
}

.content {
    background: #f2f2f2;
    padding: 50px 0;
    position: relative;
    z-index: 1;
}

.content1 {
    background: url(../img/maidBG.jpg) no-repeat #e9eaed;
    background-size: cover;
    /*padding: 20px 0;*/
    position: relative;
    z-index: 1;
}

.white-bg {
    background: #fff;
}

.dark-bg {
    background: #000;
}

.padding {
    padding: 10px;
}

.padding-new {
    padding: 18px 20px 20px 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.title-content {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.title-content h3 {
    color: #666;
    font-size: 35px;
    margin: 0;
    text-transform: uppercase;
    background: none repeat scroll 0 0 #f2f2f2;
    position: relative;
    z-index: 1;
    padding: 0px 5px;
}

.title-content p {
    background: none repeat scroll 0 0 #f2f2f2;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
    font-weight: 600;
}

.title-inner h3 {
    font-weight: 400;
    text-transform: none;
}

.title-inner {
    display: inline-block;
}

.title-inner:before {
    background: none repeat scroll 0 0 #e4e2e2;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    bottom: 15px;
    width: 35%;
}

.title-inner:after {
    background: none repeat scroll 0 0 #e4e2e2;
    content: "";
    height: 1px;
    right: 0;
    position: absolute;
    bottom: 15px;
    width: 35%;
}

.box-40 {
    width: 100%;
    float: left;
}

.box-60 {
    width: 100%;
    float: left;
    text-align: left;
    background: rgba(0,0,0,0.05);
    z-index: 1;
}

.round-btn{
    padding: 5px 8px;
    border-radius: 50%;
    color: #d9534f;
    border: 1px solid #d9534f;
    width: 25px;
    height: 50px;
    background: #FFF;
}

.desc p{
    color: #333; 
    margin:10px 0px
}
.can-icons li{
    display: inline-block;
    margin:10px 0px 15px;
    list-style: none;
}
.can-icons{
    margin:10px 0px;
}

.back-white {
    background: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,.03);
}

.spacing40 {
    height: 40px;
    width: 100%;
}

.spacing80 {
    height: 80px;
    width: 100%;
}

.align-center {
    text-align: center;
}

blockquote p {
    font-family: georgia;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
}

blockquote small, blockquote p small {
    color: #555555;
    display: block;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-style: normal;
    font-size: 13px;
}

.fa {
    line-height: inherit;
}

#big-video-wrap {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

#big-video-vid {
    position: absolute;
}

#big-video-wrap img {
    height: 100% !important;
    max-width: none !important;
    position: fixed;
    width: auto !important;
}

.mobile-menu {
    display: none;
}
/*---LOADER---*/
/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff; /* change if the mask should have another color then white */
    z-index: 999999; /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%; /* centers the loading animation horizontally one the screen */
    top: 50%; /* centers the loading animation vertically one the screen */
    background-image: url(images/preloader.gif); /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px; /* is width and height divided by two */
}

#status p {
    text-align: center;
    color: #999;
}


.single .white-bg .close, .single .white-bg .team-close {
    display: none;
}
/*----------------------------HEADER SETTING-----------------------------------*/
.header {
    background: rgba(255, 255, 255, 1);
    width: 100%;
    z-index: 999;
    -webkit-backface-visibility: hidden;
    transition: ease .3s;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -o-transition: ease .3s;
    -ms-transition: ease .3s;
    border-bottom:1px solid rgba(191, 14, 64, 0.6);
}

.is-sticky .header {
    background: rgba(0,0,0,0.8);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
}

.admin-bar .is-sticky .header {
    margin-top: 32px;
}

.menu ul, .navigation {
    list-style: none;
    float: right;
    margin: 25px 0px 0px 0px;
    display: block;
    height: auto;
    position: relative;
    padding: 0;
    z-index: 999;
    /*background: #fff;
    border-radius: 3px;
    box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.3);*/
}

.modal-dialog {
    border: none; 
    padding: 10px;
    margin: 60px auto;
}

.modal-header {
    padding: 10px 10px 0px 10px;
    min-height: 16.428571429px;
    background: rgba(0,0,100,0.1);
}

option{
    padding: 5px 10px;
}
.close {
    float: right;
    font-size: 20px;
    font-weight: 900;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.menu ul li, .navigation li {
    float: left;
    position: relative;
    background: #fff;
    /*border-right: 1px solid #eee;*/
    /*box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.3);*/
}

.menu ul li, .navigation li:nth-of-type(1) {
    /*border-right: 1px solid #ccc;*/
}

.menu ul li, .navigation li:nth-of-type(2) {
    /*border-right: 1px solid #ccc;*/
}

.menu ul li a, .navigation li a {
    color: #333;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    letter-spacing: 0px;
    padding: 0px 25px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 10px 0px;
    border-right: 1px solid #eee;
}

.signup{
    border: 1px solid rgb(223, 162, 97);
}

.signup a{
    color: rgb(223, 162, 97) !important;
}

.menu ul li a:hover, .navigation li a:hover, .navigation .current a {
    color: inherit;
}

.menu-btn {
    background: none repeat scroll 0 0 #888888;
    border-radius: 50px;
    color: #FFFFFF;
    cursor: pointer;
    display: none;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 27px;
    width: 30px;
}

.menu .sub-menu {
    background: none repeat scroll 0 0 #444444;
    left: 0;
    margin-top: 1px;
    padding: 0;
    position: absolute;
    top: 100%;
}

.menu .sub-menu li {
    border-bottom: 1px solid #373737;
    border-top: 1px solid #555555;
    float: none;
    width: 180px;
}

.menu .sub-menu li a {
    color: #FFFFFF;
    font-size: 11px;
    padding: 15px;
}

.menu .sub-menu li a:hover {
    color: inherit;
}

.logo {
    padding: 10px 0 10px 0px;
    display: block;
    width: 250px;
}

.nav-collapse {
    background: none repeat scroll 0 0 #333333;
    height: 0;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 90px;
    width: 140px;
    z-index: 999;
}

.mobile-menu a {
    display: block;
    font-size: 11px;
    padding: 10px 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
}
/*----------------------------SLIDER SETTING-----------------------------------*/
.box-caption {
    width: 100%;
    z-index: -1;
}

#slidecaption h2, #slidecaption p {
    text-transform: uppercase;
    color: #FFFFFF;
}

#slidecaption {
    padding: 5px 0 50px;
}

#slidecaption h2 {
    font-size: 58px;
    line-height: 58px;
}

.slider-content {
    position: relative;
    overflow: hidden;
    padding: 50px 0px 80px 0px;
    text-align: center;
}

#progress-back {
    background: none repeat scroll 0 0 #aaa;
    height: 1px;
    left: 0;
    position: relative;
    width: 100%;
    z-index: 5;
    overflow: hidden;
}

#progress-bar {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 1px;
    position: relative;
    width: 100%;
}

.centering {
    margin: auto;
    height: 2px;
    width: 100%;
}

.title-caption h4 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 100%;
    position: relative;
}

.title-caption h4:before {
    background: none repeat scroll 0 0 #FFFFFF;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 20%;
}

.title-caption h4:after {
    background: none repeat scroll 0 0 #FFFFFF;
    content: "";
    height: 1px;
    right: 0;
    position: absolute;
    top: 10px;
    width: 20%;
}
/*----------------------------PORTFOLIO SETTING-----------------------------------*/
iframe {
    border: none !important;
    width: 100%;
    max-width: 100% !important;
}

#tubular-player {
    max-width: none !important;
}

.bwWrapper {
    position: relative;
    display: block;
}

.bwWrapper canvas {
    max-width: 100%;
    width: 100%;
}

.port-item, .portfolio-body .port-item {
    margin: 0 0 30px;
}

.port-inner h3 {
    font-size: 13px;
    margin: 0 0 0px;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: #f17939;
    text-shadow: 0 1px 0 #fff;
    height:35px;
}

.port-inner {
    position: relative;
}

.more {
    background: none repeat scroll 0 0 #444;
    bottom: 0;
    color: #FFFFFF;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    position: absolute;
    left: 0;
    text-align: center;
    width: 30px;
}

.more:hover {
    color: #fff;
    background: #999;
}

.hov-desc {
    color: #fff;
    background: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    width: 0;
    opacity: 0;
    left: 30px;
    overflow: hidden;
}

.more:hover .hov-desc {
    width: 90px;
    right: 30px;
    opacity: 1;
}

.hov-desc {
    transition: ease .3s;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -o-transition: ease .3s;
    -ms-transition: ease .3s;
}

.box-40 img {
    left: 0 !important;
    top: 0 !important;
    height: auto;
    width: 100%;
}

.prf img {
    left: 0 !important;
    top: 0 !important;
    height: 150px !important;
    width: 150px;
}

.prf img:nth-child(2) {
    left: 0 !important;
    top: 0 !important;
    height: 150px!important;
    width: 150px;
}

.form-group {
    margin-bottom: 7px;
}
.cat-icon {
    background: none repeat scroll 0 0 #444444;
    border-radius: 50px;
    bottom: 30px;
    color: #FFFFFF;
    display: inline-block;
    height: 30px;
    right: 30%;
    line-height: 30px;
    margin-right: -15px;
    position: absolute;
    width: 30px;
    cursor: pointer;
}

.cat-icon:hover {
    background: #888;
}

.box-60 p {
    margin-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
}

.box-60-home {
    width: 100%;
    float: left;
    text-align: left;
    background: #eee;
    z-index: 1;
}

.box-60-home p {
    width: 100%;
    float: left;
    text-align: left;
    background: #eee;
    z-index: 1;
}

.portajax-title, .content-title {
    font-size: 50px;
    margin: 0;
    text-transform: uppercase;
}

.client-name, .gray-text, .team-post {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    margin: 0 0 0 10px;
    text-transform: uppercase;
}

.team-box {
    margin-top: 40px;
}

.port-date, .black-text, .team-text {
    color: #333333;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}

.worksajax .white-bg {
    margin-bottom: 30px;
}

.gallery-portfolio .gallery img, .gallery-inner .gallery img {
    width: 100%;
    height: auto !important;
}

.gallery-portfolio .gallery-item, .gallery-inner .gallery-item {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
}

.gallery-item {
    margin: 0;
}

.gallery-portfolio .owl-item .gallery-item, .gallery-inner .owl-item .gallery-item {
    position: inherit;
    visibility: visible;
    opacity: 1;
}

.strong {
    color: #444444;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.condensed {
    color: #888;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.align-right {
    text-align: right;
}

.align-right p {
    margin: 0;
    line-height: 1;
}

.margin {
    border-top: 1px solid #ccc;
    margin: 30px 30px 0;
    padding: 29px 0 30px;
    position: relative;
    border-bottom: none;
}

.worksajax {
    position: relative;
}

.slide-nav {
    background: none repeat scroll 0 0 #fff;
    color: #888;
    font-size: 18px;
    height: 30px;
    left: 0;
    line-height: 30px;
    margin-top: -15px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 30px;
}

.slide-nav:hover, .slide-nav:focus {
    color: #fff;
    background: #888;
}

.slide-nav.inright {
    left: auto;
    right: 0;
}


.view-more {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    display: inline-block;
    line-height: 1.6;
    padding: 6px 18px;
}

.view-more:hover {
    background: #888;
    color: #fff;
}
/**** Isotope CSS3 transitions ****/

.isotope, .isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}
/*portfolio filter*/
.port-filter {
    display: block;
    list-style: none outside none;
    margin: 0 0 20px;
    overflow: hidden;
    text-align: center;
}

.port-filter > li {
    display: inline-block;
    overflow: hidden;
}

.white-btn {
    border: 1px solid;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 6px 10px;
    text-transform: uppercase;
}

.white-btn.clicked {
    color: #777777;
}

#portfolio .pagination {
    text-align: center;
}

/*-----------------------------PARALLAX SECTION------------------------------*/
.bg-dark {
    position: relative;
    width: 100%;
    z-index: 0;
}

.bg1 {
    background: url(images/bg.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg2 {
    background: url(images/bg2.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.twitter-feed {
    background: url(images/bg3.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.dark-mask {
    background: url("images/overlays/02.png") repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    opacity: 0.7;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.bg-dark .container {
    padding-bottom: 100px;
    padding-top: 100px;
    position: relative;
    z-index: 1;
}

.slogan {
    border-top: 1px solid;
    color: #FFFFFF;
    font-size: 45px;
    margin: auto;
    max-width: 90%;
    padding-top: 20px;
    text-transform: uppercase;
}

.author-slogan {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: normal;
    margin: auto;
    max-width: 80%;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
}

.tweet-follow {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: normal;
    margin: auto;
    max-width: 80%;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
}

.twitter-feed .align-center div {
    width: 100% !important;
    position: relative !important;
}

.rotatingtweet a {
    color: #888;
}

.rotatingtweet a:hover {
    color: #fff;
}

.line-top {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 1px;
    margin: auto;
    max-width: 90%;
}

.norotatingtweets .rotatingtweet {
    border: none;
}

.rotatingtweet {
    border-top: 1px solid #fff;
}

.rotatingtweet p {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 45px;
    font-weight: bold;
    margin: auto;
    max-width: 90%;
    padding-top: 20px;
    text-transform: uppercase;
    line-height: 1.1;
}

.rotatingtweet .rtw_meta {
    display: block;
    font-size: 20px;
    margin-top: 0 !important;
}

.slogan-divider {
    margin: 20px auto;
    max-width: 90%;
    overflow: hidden;
    position: relative;
}

.slogan-divider .fa {
    border: 1px solid;
    border-radius: 50px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    width: 50px;
}

.line-left {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 1px;
    left: 0;
    margin-left: -25px;
    position: absolute;
    top: 25px;
    width: 50%;
}

.line-right {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 1px;
    right: 0;
    margin-right: -25px;
    position: absolute;
    top: 25px;
    width: 50%;
}
/*---------------ABOUT SECTION--------------------*/
#about .nav-tabs > li > a, #services .nav-tabs > li > a, #contact .nav-tabs > li > a {
    border: medium none;
    border-radius: 0;
    color: #888888;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#about .nav-tabs > li.active > a, #about .nav-tabs > li > a:hover, #about .nav-tabs > li.active > a:hover, #about .nav-tabs > li.active > a:focus, #services .nav-tabs > li.active > a, #services .nav-tabs > li > a:hover, #services .nav-tabs > li.active > a:hover, #services .nav-tabs > li.active > a:focus, #contact .nav-tabs > li.active > a, #contact .nav-tabs > li > a:hover, #contact .nav-tabs > li.active > a:hover, #contact .nav-tabs > li.active > a:focus {
    background: transparent;
    color: #444444;
}

#about .nav-tabs > li, #services .nav-tabs > li, #contact .nav-tabs > li {
    display: inline-block;
    float: none;
    margin-bottom: 0;
    margin-left: 10px;
}

.team-name {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 2px;
    text-transform: uppercase;
}

.team-position {
    font-size: 13px;
    font-size: 18px;
    line-height: 26px;
    min-height: 66px;
    color: #666;
}

.team-icon {
    background: none repeat scroll 0 0 #333333;
    border-radius: 50px;
    color: #FFFFFF;
    display: inline-block;
    height: 30px;
    line-height: 32px;
    position: absolute;
    cursor: pointer;
    left: 30px;
    text-align: center;
    top: 15px;
    width: 30px;
}

.team-icon:hover {
    background: #888;
}

.team-inner {
    position: relative;
}

.team-social {
    margin: 0;
    list-style: none;
}

.team-social li {
    display: inline-block;
}

.team-social a {
    background: none repeat scroll 0 0 #333333;
    border-radius: 50px;
    display: block;
    height: 30px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    width: 30px;
}

.team-social a:hover {
    background: #888;
    color: #fff;
}

.achievement-list {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

.achievement-list li:before {
    background: none repeat scroll 0 0 #333333;
    border-radius: 50px;
    color: #FFFFFF;
    content: "\f091";
    display: inline-block;
    font-family: 'FontAwesome';
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 25px;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 5px;
}

.achievement-list li {
    line-height: 25px;
    margin-bottom: 20px;
    padding-left: 40px;
    position: relative;
}

.achievement-list li span {
    color: #888;
}

.achievement-list li p {
    margin: 0;
}
/*-----------------------------TESTIMONIAL SECTION-----------------------------------*/
.testimonial {
    list-style: none;
    margin: 0;
}

.testi-img {
    border-radius: 100px;
    width: 80px;
}

.img-border {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 100px;
    display: inline-block;
    padding: 4px;
    position: relative;
    z-index: 1;
}

.testimonial .line-left {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 1px;
    left: 0;
    margin-left: -41px;
    position: absolute;
    top: 45px;
    width: 50%;
}

.testimonial .line-right {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 1px;
    margin-right: -41px;
    position: absolute;
    right: 0;
    top: 45px;
    width: 50%;
}
/*-----------------------------PRICING TABLE SECTION-----------------------------------*/
.pricing-table {
    max-width: 300px;
    margin: auto;
}

.col-md-4 .pricing-table, .col-md-6 .pricing-table {
    margin-bottom: 30px;
}

.pricing-table h3 {
    border-bottom: 1px solid #CCCCCC;
    font-size: 20px;
    margin: 0;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.pricing-table .price {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.pricing-table.special {
    background: #444;
}

.pricing-table.special h3 {
    color: #fff;
}

.price-icon {
    background: none repeat scroll 0 0 #888888;
    border-radius: 100px;
    color: #FFFFFF;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    margin: 20px 0;
    width: 60px;
}
/*-----------------------------GOOGLE MAP SECTION-----------------------------------*/

.map_canvas {
    height: 450px;
    width: 100%;
    margin-bottom: 50px;
}

.map_canvas img {
    max-width: inherit;
}
/*-----------------------------CONTACT SECTION-----------------------------------*/

input, textarea {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #DDDDDD;
    color: #888;
    line-height: inherit;
    padding: 12px 20px;
    background: #fff;
}

input:focus, textarea:focus {
    border-color: #ccc;
}

::-webkit-input-placeholder {
    color: #999;
}

:-moz-placeholder { /* Firefox 18- */
    color: #999;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #999;
}

:-ms-input-placeholder {
    color: #999;
}

.error {
    color: #FF0000;
    font-size: 12px;
    font-weight: normal;
    left: auto;
    position: absolute;
    right: 20px;
    top: 12px;
    width: auto;
}

.contact-btn {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    display: inline-block;
    line-height: 1.6;
    padding: 6px 18px;
    width: auto;
}

.wpcf7 p {
    position: relative;
}

span.wpcf7-not-valid-tip {
    font-size: 12px;
    position: absolute;
    right: 15px;
    top: 0;
}

div.wpcf7-validation-errors {
    background: none repeat scroll 0 0 #EEEEEE;
    border: medium none;
    margin-left: 0;
    margin-top: 10px;
}

div.wpcf7-mail-sent-ok {
    border: medium none;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.contact-btn:hover {
    background: #888;
    color: #fff;
}

#MyContactForm p {
    position: relative;
}

.address-list {
    line-height: 30px;
    list-style: none outside none;
    margin: 20px 10px 0;
    padding: 0;
}

.address-list li {
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

.address-list li i {
    background: none repeat scroll 0 0 #333333;
    border-radius: 50px;
    color: #FFFFFF;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    display: inline-block;
    margin-right: 5px;
}
/*-----------------------------FOOTER SECTION-----------------------------------*/
.footer {
    background: #FFF;
    border-top:3px solid rgba(255,142,0);
    overflow: hidden;
    font-weight: 600;
    margin-top:100px;
    margin-bottom: -100px; /*for fixing ie bug */
}

.footer p {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
    padding-top: 30px;
    margin: 0;
    line-height: 30px;
    font-size: 14px;
}

.footer p a {
    color: #555;
}

.footer p a:hover {
    color: #999;
}

.soc-footer {
    list-style: none outside none;
    margin: 0;
    padding: 0px 0px 20px;
    text-align: center;
}

.soc-footer li {
    display: inline-block;
}

.soc-footer li a {
    background: none repeat scroll 0 0 #333333;
    display: block;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50px 50px 50px 50px;
    width: 30px;
    color:#FFF;
    background: rgb(255,142,0)
}

/*-----------------------------BLOG POST SECTION-----------------------------------*/
.post-image {
    position: relative;
    overflow: hidden;
}

.title-link h2 {
    transition: ease .3s;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -o-transition: ease .3s;
    -ms-transition: ease .3s;
    color: #444;
}

.title-link h2:hover {
    color: #777;
}

.mask-post {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: ease .3s;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -o-transition: ease .3s;
    -ms-transition: ease .3s;
    width: 100%;
    z-index: 1;
}

.post-image:hover .mask-post {
    opacity: 1;
}

.mask-inner {
    height: 60px;
    left: 0;
    margin-top: -30px;
    position: absolute;
    text-align: center;
    top: -100%;
    transition: ease .5s;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -o-transition: ease .5s;
    -ms-transition: ease .5s;
    width: 100%;
    z-index: 1;
}

.post-image:hover .mask-inner {
    top: 50%;
    transition: ease .3s;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -o-transition: ease .3s;
    -ms-transition: ease .3s;
}

.post-with-quote {
    margin: 0;
    padding: 0;
    position: relative;
    background: #444;
}

.post-with-quote blockquote {
    border: medium none;
    margin: 0 0 20px;
    padding: 30px;
}

.post-with-quote blockquote p {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: 40px;
    margin: 0;
}

.quote-icon {
    background: none repeat scroll 0 0 #333333;
    bottom: 0;
    color: #FFFFFF;
    font-size: 30px;
    height: 80px;
    line-height: 80px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 80px;
}

.post-with-quote blockquote small {
    color: #999999;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    margin-top: 20px;
}

.link-image a {
    display: block;
    overflow: hidden;
    position: relative;
}

.image-aside, .image-link {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.link-image a p {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 80px 40px;
    position: relative;
    text-align: center;
    z-index: 1;
}

.link-image a p:hover {
    background: rgba(0,0,0,0.7);
}

.link-image a p i:hover {
    background: #444;
}

.link-image a p i {
    background: none repeat scroll 0 0 #777;
    border-radius: 100px;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    width: 50px;
}

.link-image a p i, .link-image a p {
    transition: ease .3s;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -o-transition: ease .3s;
    -ms-transition: ease .3s;
}

.aside-body {
    position: relative;
}

.rsswidget img {
    margin-bottom: 4px;
}

li .rsswidget {
    font-weight: 600;
}

.tagcloud a {
    border: 1px solid #DDDDDD;
    display: inline-block;
    font-size: inherit !important;
    margin-bottom: 5px;
    padding: 3px 10px;
}

.tagcloud a:hover {
    border: 1px solid #ccc;
}

.format-aside .aside {
    background: none repeat scroll 0 0 rgba(120, 136, 136,0.8);
    color: #FFFFFF;
    padding: 40px;
    position: relative;
    z-index: 1;
}

.aside-title h2 {
    color: #fff;
}

.image-background {
    background-position: center center !important;
    background-size: cover !important;
}

.mask-inner a {
    background: none repeat scroll 0 0 #444;
    color: #FFFFFF;
    display: inline-block;
    height: 45px;
    line-height: 41px;
    margin: 0 5px;
    width: 45px;
}

.mask-inner a:hover {
    background: #888;
}

.widget {
    margin-bottom: 40px;
}

.widget ul, .widget ol {
    list-style: square outside none;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 0;
    padding-left: 20px;
}

.widgettitle {
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    color: #777;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 10px;
    text-transform: uppercase;
}

#searchform {
    margin: 10px;
    position: relative;
}

#searchform #s {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #CCCCCC;
    display: block;
    height: 50px;
    margin: 0;
    padding: 0 10px 0 45px;
    width: 100%;
}

#searchform #searchsubmit {
    background: url("images/search.png") no-repeat scroll center center #999999;
    height: 30px;
    left: 10px;
    line-height: 1;
    margin-top: -15px;
    padding: 0;
    position: absolute;
    text-indent: -99999px;
    top: 50%;
    width: 30px;
    transition: ease .3s;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -o-transition: ease .3s;
    -ms-transition: ease .3s;
}

#searchform #searchsubmit:hover {
    background-color: #444;
}
/*calendar style*/
#wp-calendar {
    width: 100%;
    text-align: center;
    background: #eee;
    font-size: 12px;
    line-height: 3;
    max-width: 370px;
    background: #fff;
    margin: auto;
}

#wp-calendar caption {
    background: none repeat scroll 0 0 #777777;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    padding: 10px 20px;
    text-transform: uppercase;
}

#wp-calendar td a {
    color: #777;
    display: block;
}

#wp-calendar td a:hover {
    background: #777;
    color: #fff;
}

#wp-calendar #prev a, #wp-calendar #next a {
    display: inline;
}

#wp-calendar tbody tr td {
    border: 1px solid #DDDDDD;
    color: #bbb;
}

#wp-calendar thead {
    color: #555555;
}

#wp-calendar thead th {
    border: 1px solid #ddd;
    text-align: center;
}

#wp-calendar tfoot {
    border: 1px solid #ddd;
}

#wp-calendar tfoot #next {
    text-align: right;
}

#wp-calendar tfoot #prev {
    text-align: left;
}

#wp-calendar tfoot a {
    padding: 10px;
}
/*-------------------------------------------COMMENT SECTION----------------------------------*/
.comment-reply-title {
    font-size: 20px;
    margin: 0 0 20px;
    text-transform: uppercase;
}

#commentform label {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 5px;
    text-transform: uppercase;
}

#commentform p {
    margin-bottom: 20px;
}

#commentform #submit {
    color: #888888;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    width: auto;
    transition: ease .3s;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -o-transition: ease .3s;
    -ms-transition: ease .3s;
}

#commentform #submit:hover {
    background: #444;
    color: #fff;
}

.commentlist {
    margin: 0;
    padding: 0;
    list-style: none;
}

.fn.comment-author {
    color: #777777;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}

.comment-inner.clearfix {
    float: left;
    width: 88%;
}

.comment-author.vcard {
    float: left;
    width: 12%;
}

.commentlist ul {
    list-style: none;
}

.comment-meta a {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.comment-meta .comment-edit-link {
    border: 1px solid #DDDDDD;
    display: inline-block;
    float: right;
    font-size: 12px;
    font-weight: normal;
    padding: 0 7px;
}

.comment-meta.commentmetadata {
    border-bottom: 1px solid #EEEEEE;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 10px;
}

.commentlist .avatar {
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 3px;
}

.commentlist li {
    display: block;
    overflow: hidden;
}

.comment-body {
    border-bottom: 1px dashed #DDDDDD;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}

.comment-reply-link {
    background: none repeat scroll 0 0 #777777;
    color: #FFFFFF;
    display: inline-block;
    float: right;
    line-height: 1;
    padding: 7px 10px;
}

.comment-reply-link:hover {
    background: #444;
    color: #fff;
}

.bypostauthor .fn.comment-author:after {
    content: "\f006";
    color: #888888;
    font-family: FontAwesome;
    height: 30px;
    margin-left: 3px;
    width: 30px;
}

.pagination-comment {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
}

.page-numbers {
    background: none repeat scroll 0 0 #777777;
    color: #FFFFFF;
    padding: 5px 11px;
    display: inline-block;
    font-size: 10px;
}

.page-numbers.current, .page-numbers:hover {
    background: #444;
    color: #fff;
}

.post-pager.clearfix {
    float: left;
    font-family: 'Open Sans', sans-serif;
}

.post-pager {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}

.post-pager a {
    background: none repeat scroll 0 0 #777;
    border-radius: 30px;
    color: #FFFFFF;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
}

.post-pager a:hover {
    background: #eee;
    color: #777;
}

/*--------------------------------------------pagination----------------------------*/
.pagination {
    border-radius: 0;
    display: block;
    margin: 0;
    padding-left: 0;
}

.pagination a, .pagination span {
    background: none repeat scroll 0 0 #333333;
    border-left: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    padding: 6px 18px;
}

.pagination a:hover, .pagination span {
    background: none repeat scroll 0 0 #777;
}
/*----------------------------------404 SECTION--------------------------------------*/

.big-404 {
    background: none repeat scroll 0 0 #777777;
    color: #FFFFFF;
    display: inline-block;
    font-size: 80px;
    line-height: 1;
    max-width: 400px;
    padding: 40px;
}

.title-404 {
    font-size: 40px;
    line-height: 40px;
    margin: 40px 0;
    text-transform: uppercase;
}

.title-404 i {
    color: #999999;
    font-size: 40px;
    line-height: 40px;
}

.text-404 {
    font-size: 24px;
    font-weight: bold;
}

.text-404 a {
    color: #444;
}

.text-404 a:hover {
    color: #777;
}

/*-----------------------------------WordPress General CSS --------------------*/
.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption-text {
    font-family: montserrat;
}

.gallery-caption {
    display: inline-block;
}

.post.sticky {
    border: 1px solid #DDDDDD;
}

.gallery-item {
    margin: 0;
    position: relative;
}

.gallery-size-meidum .gallery-caption, .gallery-size-large .gallery-caption {
    bottom: 0;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.show-title {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.show-title span {
    color: #999;
}

.noborder {
    border: 0;
}
/*-----------------------------media queries-----------------------------------*/
@media (min-width:980px) and (max-width:1199px) {
    .box-60 p {
        white-space: nowrap;
        width: 100%; /* IE6 needs any width */
        overflow: hidden; /* "overflow" value must be different from  visible"*/
        -o-text-overflow: ellipsis; /* Opera < 11*/
        text-overflow: ellipsis; /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
    }

    .title-caption h4:before {
        margin-left: -20px;
    }

    .title-caption h4:after {
        margin-right: -20px;
    }

    #slidecaption h2 {
        font-size: 48px;
        line-height: 48px;
    }

    .port-inner h3 {
        font-size: 17px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .bg-dark {
        background-attachment: scroll !important;
        background-size: auto !important;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .bg-dark {
        background-attachment: scroll !important;
        background-size: auto !important;
    }
}

@media (min-width:768px) and (max-width:979px) {
    .desktop-menu {
        display: none;
    }

    .mobile-menu, .mobile-menu .sub-menu {
        display: block !important;
    }

    .title-caption h4:before {
        margin-left: -10px;
    }

    .title-caption h4:after {
        margin-right: -10px;
    }

    #slidecaption h2 {
        font-size: 40px;
        line-height: 40px;
    }

    .slider-content {
        margin: auto;
        max-width: 500px;
        overflow: hidden;
        position: relative;
        text-align: center;
    }

    .menu-btn {
        display: block;
    }

    .nav-collapse {
        border-radius: 0 0 10px 10px;
        height: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 90px;
        width: 100%;
        z-index: 999;
    }

    .navigation li {
        display: inline-block;
        float: none;
    }

    .is-sticky .nav-collapse {
        background: #333;
    }

    .slogan, .rotatingtweet p {
        font-size: 35px;
    }

    .pricing-table {
        margin-bottom: 20px;
    }

    .bg-dark {
        background-attachment: scroll !important;
        background-size: auto !important;
    }
}

@media (max-width: 767px) {
    .desktop-menu {
        display: none;
    }

    .mobile-menu, .mobile-menu .sub-menu {
        display: block !important;
    }

    .slider-content {
        margin: auto;
        max-width: 500px;
        width: 100%;
        overflow: hidden;
        padding: 80px 0;
        position: relative;
        text-align: center;
    }

    #slidecaption h2 {
        font-size: 35px;
        line-height: 35px;
    }

    .title-caption h4:before {
        margin-left: -20px;
    }

    .title-caption h4:after {
        margin-right: -20px;
    }

    .menu-btn {
        display: block;
    }

    .navigation li {
        display: inline-block;
        float: none;
    }

    .is-sticky .nav-collapse {
        background: #333;
    }

    .slogan {
        font-size: 30px;
    }

    .content-title, .portajax-title {
        font-size: 38px;
    }

    .slogan, .rotatingtweet p {
        font-size: 30px;
    }

    .tweetfeed.clearfix {
        overflow: hidden;
    }

    .pricing-table {
        margin-bottom: 20px;
    }

    .bg-dark {
        background-attachment: scroll !important;
        background-size: auto !important;
    }

    .footer {
        text-align: center;
    }

    .soc-footer {
        display: inline-block;
        padding-top: 0;
    }
}

@media (max-width:570px) {
    .box-40, .box-60 {
        width: 100%;
    }

    .soc-footer {
        display: inline-block;
        padding-top: 0;
        text-align: center;
    }

    .mrgn-btm {
        margin-bottom: 7px;
    }

    .port-inner .more {
        display: none;
    }

    .cat-icon {
        right: 50%;
    }

    .admin-bar .is-sticky .header {
        margin-top: 0;
    }
}

@media (max-width:480px) {
    .login-bg {
        display: none;
    }

    .navigation li a {
        font-size: 10px;
        letter-spacing: 0;
        padding: 10px;
    }

    .navigation li {
        display: block;
        float: none;
    }

    .header {
        height: auto;
    }

    .slider-content {
        padding: 60px 0 90px 0;
        overflow: hidden;
    }

    .nav-collapse {
        top: 90px;
        border-radius: 3px;
        opacity: 0.7;
    }

    .title-caption h4:before {
        margin-left: -40px;
    }

    .title-caption h4:after {
        margin-right: -40px;
    }

    .title-caption h4 {
        font-size: 13px;
    }

    .title-content h3 {
        font-size: 30px;
    }

    .slogan, .rotatingtweet p {
        font-size: 25px;
    }

    .nav-tabs li a, .teamajax .align-right p, .worksajax .align-right p {
        font-size: 12px;
    }
}




.hpage-icon {
    width: 152px;
    height: 152px;
    border: 10px solid #fabe22;
    display: block;
    background: #fabe22;
    color: #fff;
    line-height: 132px;
    border-radius: 50%;
    margin: 20px auto;
    font-size: 85px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.team-box:hover .hpage-icon {
    background: #fff;
    color: #fabe22;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.btn-custom {
    font-size: 16px !important;
    background: #fabe22!important;
    font-weight: 900;
    color: #333!important;
    text-transform: uppercase;
    text-shadow: none!important;
    border-color: #fabe22!important;
}

.btn-custom:hover {
    background: #fecb01!important;
}

.custom-head {
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    text-transform: none;
    font-weight: 600;
    max-width: 550px;
    margin: 0px auto;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
}

.custom-head-sub {
    color: #fff !important;
    font-size: 14px;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
}

.hiw-shadow {
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.htc-shadow {
    text-align: center;
    background: #fff;
}

.htc-shadow h2 {
    color: #333;
}

.mrgn-btm-zero {
    margin-bottom: 0px;
}

.next-arrow:before {
    content: "";
    background-image: url("../images/arrow-next.png");
    background-size: cover;
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    width: 98px;
    height: 55px;
    -webkit-transform: translate3d(-40px, -50%, 0);
    transform: translate3d(-40px, -50%, 0);
    z-index: 0;
}

.hiw-circle {
    background: #fabe22;
    width: 50px;
    height: 50px;
    display: block;
    line-height: 50px;
    font-weight: 900;
    color: #333;
    font-size: 25px;
    margin: 50px auto 10px;
    border-radius: 50%;
    text-align: center;
}

.hiw-para {
    color: #fabe22;
    font-weight: 300;
    text-align: center;
    line-height: 42px;
    font-size: 28px;
}

.hiw-top-title {
    background: #fff!important;
    text-transform: none!important;
    font-weight: 400;
    font-size: 45px!important;
}

.hiw-top-title span {
    color: #fabe22;
}

.hiw-top-para {
    background: transparent!important;
    text-transform: none!important;
    font-size: 23px!important;
    padding: 0px 10%;
    line-height: 35px;
    margin-top: 13px;
    font-weight: 400!important;
}

.bg-white {
    background: #fff!important;
}

.bg-theme {
    background: #fabe22!important;
    position: relative;
}

.pad-btm-z {
    padding-bottom: 0px!important;
}

.mrgn-btm-z {
    margin-bottom: 0px!important;
}

.mrgn-tp-150 {
    margin-top: 150px;
}

.pad-top-30 {
    padding-top: 30px;
}

.color-w {
    color: #fff!important;
}

.left-side-b {
    padding: 7px 7px 1px 7px;
    margin-bottom: 30px;
    background: #fabe22;
}

.left-side-b-inner {
    background: #eee;
    margin-left: -7px;
    margin-right: -7px;
    padding: 7px;
}

.left-side-b h4 {
    cursor: pointer;
    padding: 0px 11px 6px 11px;
}

.rel-side-img {
    width: 70px;
    height: 70px;
    background-size: cover!important;
    border: 3px solid #fff;
    background-origin: content-box;
    box-shadow: 0px 0px 0px 1px rgba(204,204,204,0.5);
}

.s-des h4 {
    margin: 0px 0px 5px;
    padding: 0px;
    color: #1a63f8;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    padding-left: 3px;
    padding-bottom: 3px;
}

.s-des p {
    font-size: 12px;
    margin-bottom: 0px;
    color: #999;
    padding-left: 3px;
    font-weight: 600;
}

.s-des p span {
    color: #666;
}

.pro-big-pic {
    width: 200px;
    height: 210px;
    border: 5px solid #fff;
    box-shadow: 0px 0px 0px 1px #ccc;
    cursor: pointer;
    overflow: hidden;
}

.pro-big-pic img {
    height: 210px;
    width:100%;
}

.btn-2 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 5px;
    color: #fff;
    min-width: 200px;
}

.btn-2 a{
    color: #fff;
}
.full-d h2 {
    margin-top: 0px;
    font-weight: 600;
}

.list-g {
    -webkit-column-count: 2!important;
    -moz-column-count: 2;
    -ms-column-count: 2;
    column-count: 2;
    margin: 43px 0px 0px 0px;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    -ms-column-gap: 30px;
    column-gap: 30px;
    column-gap: 30px;
    background: whitesmoke;
     padding: 0px 10px;
}

.list-g li {
    list-style-type: none;
    font-size: 14px;
    font-weight: 500;
    border-top: 1px solid #e0e0e0;
}

.list-g li span {
    color: #f17939;
    padding-right: 5px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 37px;
}

.w-description .mobile-d h2 {
    font-weight: 600;
    font-size: 23px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.why-u {
    min-height: 241px;
}

.why-u h2 {
    font-size: 17px;
}

.title-inner span {
    color: #fabe22!important;
}

.why-u h2 i {
    font-size: 23px;
    margin-bottom: 10px;
}

.hired-big {
    position: absolute;
    z-index: 2;
    color: #fe8a8a;
    font-size: 10em;
    top: 38%;
    left: 25%;
    text-transform: uppercase;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
    border: 8px solid;
    margin: 0px;
    padding: 0px;
    line-height: 100%;
    padding: 0px 10px;
}

.hired-big-back {
    position: absolute;
    z-index: 1;
    top: -1px;
    left: 13px;
    right: 16px;
    border: 0;
    background: rgba(255,255,255,0.1);
    height: 100%;
}

.hired-small {
    position: absolute;
    z-index: 3;
    color: #fe8a8a;
    font-size: 1.5em;
    font-weight: 900;
    top: 34%;
    left: 50%;
    text-transform: uppercase;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
    border: 2px solid;
    margin: 0px;
    padding: 0px;
    line-height: 100%;
    padding: 0px 10px;
}

.hired-small-back {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 13px;
    right: 16px;
    border: 0;
    background: rgba(255,255,255,0.5);
    height: 100%;
}

a.link {
    color: #C05546;
    cursor: pointer;
}

.big-search {
    height: 50px;
    font-size: 21px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.big-search-btn {
    padding: 12px 18px;
    font-family: 'Roboto Condensed';
    border-top-right-radius: 4px!important;
    border-bottom-right-radius: 4px!important;
}

.rgt-rd {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pad-tpz {
    padding-top: 0px;
}

.mrgn-tpz {
    margin-top: -3px;
    margin-bottom: :16px;
    width: 220px;
}

.mrgn-btm {
    margin-bottom: 10px;
}

.mrgn-btm h2{
    margin-top: 5px;
}
.plan-outer {
    padding: 0px 50px 50px 50px;
}

.title-mng {
    margin-top: 0px;
    margin-bottom: 35px;
    font-size: 22px;
    color: #666;
}

.fp-box {
    background: #e6e6e6;
    padding-bottom: 30px;
}

.fp-box h4 {
    padding-top: 20px;
}

.fp-box h5 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.fp-box h5:nth-of-type(2) {
    border: none;
}

.sp-box {
    padding-bottom: 30px;
    background: #fabe22;
    color: #fff;
    top: 0px;
    bottom: -50px;
}

.sp-box h4 {
    padding-top: 20px;
}

.sp-box h5 {
    border-bottom: 1px solid #fdcc4e;
    padding-bottom: 15px;
}

.sp-box h5:nth-of-type(2) {
    border: none;
}

.lp-box {
    background: #e6e6e6;
    padding-bottom: 30px;
}

.lp-box h4 {
    padding-top: 20px;
}

.lp-box h5 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.lp-box h5:nth-of-type(2) {
    border: none;
}

.red-circle {
    background: #e54722;
    color: #fff;
    float: none;
    margin: 20px auto;
    display: block;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

.white-circle {
  background: #fff;
  color: #333;
  float: none;
  margin: 20px auto;
  display: block;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  line-height: 25px;
  text-align: center;
  font-size: 17px;
  font-weight: 900;
  padding-top: 30px;
}

.login-bg {
    background: url(../images/center-strip.png)no-repeat center center;
    height: 500px;
}


.about-head-btm {
    background: #feffff; /* Old browsers */
    background: -moz-linear-gradient(left, #feffff 0%, #fabe22 51%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#feffff), color-stop(51%,#fabe22), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #feffff 0%,#fabe22 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #feffff 0%,#fabe22 51%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #feffff 0%,#fabe22 51%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to right, #feffff 0%,#fabe22 51%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    font-weight: 400;
    width: auto;
    text-align: center;
    height: 4px;
    line-height: 55px;
    margin-bottom: 50px;
    color: #666;
}

.iwh {
    float: left;
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    line-height: 24px;
    padding: 11px 9px 11px 9px;
    margin-top: 0px;
    border-right: none;
}

.home-s {
    background: #fff;
    max-width: 360px;
    float: right;
    border-radius: 3px;
    overflow: hidden;
}

.moz-manage {
    border: none!important;
}

.left-side-b h4 {
    color: #333;
}

.s-title {
    color: #fff;
    margin-top: 40px!important;
    font-size: 30px;
    display: block;
    width: 100%;
    text-align: center;
    float: none;
}

.t-cap-mrgn {
    margin: 20px 0;
}

.index-inp {
    position: absolute;
    left: 0px;
    border: 1px solid #fff!important;
    outline: none!important;
    padding: 8px 10px!important;
    font-size: 18px!important;
    font-weight: 600;
    width: 50%;
    border-top-left-radius: 4px;
    box-shadow: none!important;
}

.index-inp:hover {
    border: 1px solid #fff!important;
    outline: none!important;
}

.index-sel {
    float: right;
    border: 1px solid #fff;
    font-weight: 600;
    height: 48px;
    box-shadow: none;
    outline: none;
    width: 100%;
    padding: 6px 10px!important;
    font-size: 15px!important;
    border: 0 !important;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff url(../images/select-arrow.png)no-repeat right 10px!important;
}

.index-sel:focus {
    background-color: #fff!important;
}

select::-ms-expand {
    display: none;
}

.index-inp::-ms-clear {
    display: none;
}

.brdr-m {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}

ul.c-pop {
    display: inline-block;
    padding: 0px 0px 30px 0px;
    margin: 0px;
    border-top: 1px solid #e54722;
    background: #eee;
}

ul.c-pop li {
    word-break: keep-all;
    padding-bottom: 5px;
}

ul.c-pop li b {
    background: #e54722;
    color: #fff;
    width: 100%;
    float: left;
    height: 25px;
    line-height: 25px;
    margin-bottom: 4px;
    font-size: 14px;
}

ul.c-pop li:first-child {
    border-left: none;
    padding-left: 5px;
}

.top-strip {
    width: 100%;
    display: none;
    height: 30px;
    font-weight: 600;
    text-align: center;
    background: rgba(231,67,51,0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}

.top-strip i {
    color: #fabe22;
    font-size: 17px;
}

.top-strip a {
    color: #fff;
    line-height: 30px;
    cursor: pointer;
}

.top-strip a:hover {
    color: #333;
}


.mini-hired-tag {
    position: absolute;
    z-index: 99999;
    width: 100%;
    font-size: 57px;
    font-weight: 600;
    color: white;
    text-align: center;
    height: 100%;
    line-height: 248px;
    display: block;
    background: rgba(0,0,0,0.1);
    cursor: not-allowed;
}

.mini-hired-tag span {
    display: inline-block;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.profile-big {
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
}

.profile-big h3, h4 {
    margin-top: 0px;
}

.profile-big h4 {
    background:#d9534f; 
    padding: 10px 20px;
    color: #fff !important;
}

.profile-big h3 { 
    padding: 10px 20px;
    text-align: center;
}

.profile-big .form-group{
    padding: 10px 20px;
}

.profile-big .alert{
    padding: 10px 20px;
    margin: 10px 20px;
}
.profile-big h4 i{
    color: #fff !important;
}

.profile-big p{
    padding: 0px 20px;
}

.min-h-300 {
    min-height: 280px;
}

.min-h-300 h4 {
    color: #2c3e50;
}

.min-h-500 {
    min-height: 660px;
}

.min-h-500 h4 {
    color: #2c3e50;
}

.text-bold {
    font-weight: 600;
    width: 80px;
    display: inline-block;
    color: #333;
}

.min-h-300 h4 a i {
    position: absolute;
    right: 35px;
    color: #f17939;
}


.min-h-500 h4 a i {
    position: absolute;
    right: 35px;
    color: #f17939;
}

.text-uppercase {
    text-transform: uppercase;
}

.breadcrumb > .active {
    color: #d9534f;
}

.prf {
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
}

.prf img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.prf img.top:active {
    opacity: 0;
}
.prf img.top:hover {
    opacity: 0;
}

.imi-box {
    min-width: 200px;
    background: #ed605c;
    background: -webkit-linear-gradient(#ed605c, #fff);
    background: -moz-linear-gradient(#ed605c, #fff);
    background: -ms-linear-gradient(#ed605c, #fff);
    background: linear-gradient(#ed605c, #fff);
    padding: 2px;
    padding-bottom: 10px;
    line-height: 15px;
    text-align: center;
}

.imi-box h5 {
    color: #fff!important;
}

.imi-box h5 span{margin-top: 5px; display: inline-block; text-transform: capitalize;}

.border-pr {
    border: 1px solid #ccc;
    padding: 20px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.border-pr:hover {
    border-color: #f17939;
    box-shadow: 0px 1px 3px rgba(241,121,57,0.2);
}

.mrgn-btm-47{margin-bottom: 47px;}
.loadmore i{font-size: 20px; line-height: 50px;}
.bounce {
  position:relative;
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-25px;
  height:50px;
  width:50px;
  background:#fabe22;
  -webkit-animation:bounce 1s infinite;
  -moz-animation:bounce 1s infinite;
  -ms-animation:bounce 1s infinite;
  animation:bounce 1s infinite;
}
.br-none{border-radius:0px; text-transform: capitalize;}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}
@-moz-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}
@-ms-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}
keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}