@charset "utf-8";
/* CSS Document */

body{
	margin: 84px 0;
	background: #FFF;	
}
.clear{
	clear: both;
}

.center_align{
	text-align: center;
}

#wrapper{
	width: 100%;
	height: auto;
}

#maindiv{
	width: 1100px;
	height: auto;
	background: #f0f0f0;
	margin: 0 auto;
}
.header{
	width: 1100px;
	height: auto;
	margin: 0 auto;
}
.com_soon{
	width: 530px;
	height: auto;
	margin: 0 auto;
}
.logo{
	position: absolute;
	width: 219px;
	height: 163px;
	z-index: 1005;
}
.banner{
	width: 653px;
	height: 575px;
	margin: 0 auto;
	background: url(../img/video.jpg) center top no-repeat;
}
.video_box{
	width: 390px;
	height: 295px;
	margin: 166px 0 0 101px;
	position: absolute;
	z-index: 1005;
}

.signin{
	width: 1055px;
	height: 33px;
	background: #333;
	margin: 0 auto;
	padding: 11px;
	overflow: hidden;
}

.signin ul{
	margin: 0;
	padding: 0;
}
.signin ul li{
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
}
.signin ul li input{
	font: bold 12px/28px Arial, Helvetica, sans-serif; 
	color: #7a7a7a;	
	width: 265px;
	background: #fff;
	margin-right: 4px;
	height: 28px;
	padding: 0 0 0 6px;
	border: 1px solid #CCC; 
}
.signin ul li [type="submit"]{
	font: bold 12px/31px Arial, Helvetica, sans-serif; 
	color: #fff;	
	width: 94px;
	background: #fb7c00;
	text-transform: uppercase;
	margin-right: 4px;
	height: 31px;
	cursor:pointer;
	border: 1px solid #fda937; 
}

#footer{
	width: 1100px;
	margin: 40px auto;
	height: 107px;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #000;
	text-align: center;
}
/** Notices and Errors **/
div.message {
	/*clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	background: #c73e14;
	padding: 5px;*/

	clear:both;
	background:url(../img/default/error.png) no-repeat left #c73e14;
	border:1px #eac7c7 solid;
	font-size: 140%;
	background-position:4px 4px;
	padding:10px 20px 9px 40px;
	/*margin:0 0 10px 0; */
	font-weight: bold;
	color:#FFFFFF
}
div.error-message {
	clear: both;
	color: red;
	font-weight: bold;
	/*background: #c73e14;*/
}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	/*background: green;
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;*/
	background:url(../img/admin/valid.png) no-repeat left green;
	border:1px #cceac4 solid;
	background-position:4px 4px;
	padding:10px 20px 9px 40px;
	/*margin:0 0 10px 0; */
	font-size: 140%;
	font-weight: bold;
	color:#FFFFFF;
}
/** Notices and Errors End **/