
div.rotatingtweet {
    font-size: 100%;
    word-wrap: break-word;
}
/*
div.rotatingtweets {
	clear:both;
}
*/
p.rtw_meta, div.rtw_meta, div.rtw_meta_wide, div.rtw_name, div.rtw_id, div.rtw_time_short, div.rtw_rt_meta {
    font-size: 0.8em;
    line-height: normal;
}

div.rtw_wide_block div.rtw_name {
    font-size: 1.0em;
}

/* Now the icon sizing */
div.rtw_icon img {
    max-width: 2.2em;
    max-height: 2.2em;
}

div.rtw_intents img {
    max-width: 1.2em;
    max-height: 1.2em;
    padding: 0;
    margin: 0;
    display: inline;
}

div.rtw_wide_icon img {
    padding-top: 8%;
    padding-left: 0;
    margin-left: 0;
}

div.rtw_meta img, div.rtw_rt_meta img {
    vertical-align: middle;
}
/* The main positioning */
.rtw_twitter_icon, .rtw_time_short {
    float: right;
}

div.rtw_wide_icon, div.rtw_icon {
    float: left;
    padding-right: 0.5em;
}

div.rtw_wide_icon {
    display: inline;
}

.rtw_wide_block .rtw_name, .rtw_wide_block .rtw_id {
    display: inline;
}

.rtw_wide_block {
    padding-left: 58px;
}

div.rtw_intents {
    display: inline;
    float: right;
    margin-left: 0.5em;
}

div.rtw_intents a {
    display: inline;
}

div.rtw_timestamp {
    display: inline;
}

.rotatingtweet p.rtw_main {
    clear: both;
}

.rtw_wide_block p.rtw_main, div.rtw_main {
    clear: none;
}

.norotatingtweets .rotatingtweet {
    border-bottom: 1px solid #DDD;
}


/* This sets the style for tweets in articles or posts */
#content .rotatingtweets, #content .norotatingtweets {
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    margin-bottom: 3%;
}

/* Now to get the vertical spacing right */
#content .rotatingtweet {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

#content p.rtw_main, p.rtw_main, div.rtw_main {
    margin-bottom: 0.6em;
}

#content .rtw_wide p.rtw_main {
    margin-bottom: 0.35em;
}


p.rtw_meta, div.rtw_meta {
    margin-bottom: 1em;
}

#sidebar ul li div.rtw_name, div.rtw_name, div.rtw_name a {
    margin-bottom: 0;
    padding-bottom: 0;
}

#sidebar ul li div.rtw_id, div.rtw_id, div.rtw_id a {
    margin-top: 0;
    padding-top: 0;
}

#sidebar ul li div.rtw_intents {
    margin-top: 0;
    padding-top: 0;
}

div.rtw_rt_meta {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    padding: 0;
}

/* Twitter fonts */

/*
.rtw_main {
	font-family: Georgia,Palatino,serif;
}
.rtw_meta {
	font-family: 'Helvetica Neue', Arial, sans-serif;
}
.rtw_name a
{
	color: #333;
}
.rtw_id a
{
	color: #999;
}
.rtw_main a
{
	color: #444;
}
.rtw_main a,
.rtw_id a:hover
{
	text-decoration: none;
}
.rtw_main a:hover,
{
	text-decoration: underline;
}
*/
.news-strip {
    background: #fabe22;
    padding: 20px 0px;
}

.news-tit {
    line-height: 27px;
    color: #555;
    text-transform: uppercase;
}

.news-tit span {
    color: #fff;
    text-transform: none;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.2);
}

.news-input {
    background: #FFF!important;
    border: 1px solid #f5f5f5!important;
    box-shadow: none!important;
    border-right: none!important;
    color: #d9544f!important;
    font-weight: 600!important;
    border-top-left-radius: 3px!important;
    border-bottom-left-radius: 3px!important;
    overflow: hidden!important;
    height: 42px!important;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.news-input:focus {
    border-color: #d9544f!important;
}

.news-btn {
    padding: 10px 10px!important;
    background: #d9544f!important;
    border: 1px solid #d9544f!important;
    border-top-right-radius: 3px!important;
    border-bottom-right-radius: 3px!important;
    overflow: hidden!important;
    color: #fff;
    outline: none;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.news-btn:hover {
    background: #555!important;
    color: #fff!important;
    border-color: #555!important;
}

.guide-new {
    width: 152px;
    height: 102px;
    position: fixed;
    bottom: -20px;
    left: 50%;
    z-index: 99999;
}

.guide-new:hover {
    bottom: 0px;
}

.mobile-hr {
    display: none;
    height: 1px;
    margin: 30px 0px 40px 0px;
    background: -webkit-linear-gradient(left, white, #ffa71d, white);
}


.success-icon {
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px!important;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 3px;
    font-size: 17px;
    background: #69bc44;
    background: -webkit-linear-gradient(left, #69bc44,#6bc841);
    background: -moz-linear-gradient(left, #69bc44,#6bc841);
    background: -ms-linear-gradient(left, #69bc44,#6bc841);
    background: linear-gradient(left, #69bc44,#6bc841);
}
.error-icon {
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px!important;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 3px;
    font-size: 17px;
    background: #d14746;
    background: -webkit-linear-gradient(left, #d14746,#de4645);
    background: -moz-linear-gradient(left, #d14746,#de4645);
    background: -ms-linear-gradient(left, #d14746,#de4645);
    background: linear-gradient(left, #d14746,#de4645);
}
.text-green{color: #69bc44!important;}
.text-red{color: #d14746!important;}
.p-content{border: 1px solid #eee; padding: 20px; background: #f9f9f9;}
.p-b-25{ padding-bottom: 25px!important;}
.m-b-15{ margin-bottom: 15px!important; font-size: 18px!important;}
