.ajax-file-upload-statusbar{
	border:1px solid #ccc;
	width:100%;
	margin:0 0 10px !important;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	padding:5px;
	clear:both;
}
.ajax-file-upload-filename{width:100%;height:auto;margin:0 5px 5px 10px;color:#807579}
.ajax-file-upload-progress{margin:0 10px 5px 10px;position:relative;width:250px;border:1px solid #ddd;padding:1px;border-radius:3px;display:inline-block}
.ajax-file-upload-bar{background-color:#0ba1b5;width:0;height:20px;border-radius:3px}
.ajax-file-upload-percent{position:absolute;display:inline-block;top:3px;left:48%}
.ajax-file-upload-red{-moz-box-shadow:inset 0 39px 0 -24px #e67a73;-webkit-box-shadow:inset 0 39px 0 -24px #e67a73;box-shadow:inset 0 39px 0 -24px #e67a73;background-color:#e4685d;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;display:inline-block;color:#fff;font-family:arial;font-size:13px;font-weight:normal;padding:4px 15px;text-decoration:none;text-shadow:0 1px 0 #b23e35;cursor:pointer;vertical-align:top}
.ajax-file-upload-green{
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	margin:0;
	padding:0;
	display:inline-block;
	color:#fff;font-family:arial;
	font-size:13px;
	font-weight:normal;
	padding:4px 15px;
	text-decoration:none;
	cursor:pointer;
	text-shadow:0 1px 0 #5b8a3c;
	vertical-align:top}
.ajax-file-upload{
	font-family:Arial,Helvetica,sans-serif;
	font-size:14.5px;
	font-weight:normal;
	padding:6px 19px;
	cursor:pointer;
	line-height:21px;
	margin:0 10px 10px 0;
	display:inline-block;
	border:1px solid #7AC930;
	color:#ffffff !important;
	text-decoration:none;
	border-radius:1px;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	background-color: #5AA819;	
}
.ajax-file-upload:hover{background:#5AA819;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
.ajax-upload-dragdrop{border:2px dotted #000000;width:100%;color:#959696;text-align:left;vertical-align:middle;padding:10px; margin:10px 0 !important; float: none !important;}
.hide{display:none;}