
                    <!-- BEGIN PAGE CONTENT-->
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="widget">
                                <div class="widget-title">
                                    <h4><i class="fa fa-forward"></i>Origins - Import/Export</h4>
                                </div>
                                <div class="widget-body form">
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div class="form-horizontal">
                                                <div class="news-b"  style="padding-bottom: 20px;">
                                                    <div class="control-group">
                                                        <h5>Export Excel Sheet of Projects</h5>
                                                    </div>
                                                    <div class="control-group">
                                                        <?php echo $this->Html->link('Export .xls File', array('controller' => $this->params['controller'], 'action' => $this->params['action'], 'export'), array('style'=>'color:#000;','div'=>false));?>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="clear: both; margin-top: 50px;"></div>
                                            <div class="form-horizontal">
                                                <div class="news-b">
                                                    <div class="control-group">
                                                        <h5 style="">Import Excel Sheet of Projects</h5>
                                                    </div>
                                                    <?php echo $this->Form->create($modelName, array('type'=>'file'));?>
                                                    <div class="control-group">
                                                        <label class="control-label">Upload .xls File Only<span class="red">*</span></label>
                                                        <div class="controls">
                                                            
															<?php echo $this->Form->input('file', array('type'=>'file', 'label'=>'Upload .xls File Only')); ?>
                                                        </div>
                                                    </div>

                                                    <div class="form-actions" style=" margin: 0px!important;">
                                                        <button type="submit" class="btn btn-success">Submit</button>
                                                    </div>
                                                    <?php echo $this->Form->end();?>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE CONTENT-->
              