<div class="vettingCompanies index">
	<h2><?php echo __('Vetting Companies'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('name'); ?></th>
			<th><?php echo $this->Paginator->sort('vetting_categories_id'); ?></th>
			<th><?php echo $this->Paginator->sort('price'); ?></th>
			<th><?php echo $this->Paginator->sort('created_at'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php
	foreach ($vettingCompanies as $vettingCompany): ?>
	<tr>
		<td><?php echo h($vettingCompany['VettingCompany']['id']); ?>&nbsp;</td>
		<td><?php echo h($vettingCompany['VettingCompany']['name']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($vettingCompany['VettingCategories']['name'], array('controller' => 'vetting_categories', 'action' => 'view', $vettingCompany['VettingCategories']['id'])); ?>
		</td>
		<td><?php echo h($vettingCompany['VettingCompany']['price']); ?>&nbsp;</td>
		<td><?php echo h($vettingCompany['VettingCompany']['created_at']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $vettingCompany['VettingCompany']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $vettingCompany['VettingCompany']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $vettingCompany['VettingCompany']['id']), null, __('Are you sure you want to delete # %s?', $vettingCompany['VettingCompany']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>

	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Vetting Company'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Vetting Categories'), array('controller' => 'vetting_categories', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Vetting Categories'), array('controller' => 'vetting_categories', 'action' => 'add')); ?> </li>
	</ul>
</div>
