		<?php
		if(count($faqs) > 0){
			foreach($faqs as $faq){
		?>
		  <div class="accordion-wrapper"><a class="accordion-title orange" href="javascript:void(0)"><span><?php echo $faq['Faq']['question']; ?></span></a>
			<div class="accordion-content" style="display: none;">
			  <p><?php echo $faq['Faq']['solution']; ?></p>
			</div>
		  </div>
		<?php 
			} 
		} else { ?>
		<h4 style="text-align: center;">No FAQ has been found!</h4>
		<?php } ?>
