 <!--PORTFOLIO SECTION START-->
        <section id="portfolio" class="clearfix content bg-white pad-btm-z">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 style="font-size:5.5vw">We are redesigning our website</h1>
                    </div>
                </div>
            </div>
        </section>
        <!--/portfolio-->