 <div class="main subpageWrap">
           <div class="col-main f-right">
               <ul class="breadcrumbs">
                  <li><a href="<?php echo DOMAIN_NAME_PATH; ?>">Home</a> ></li>
                  <li><strong><?php echo $page['Page']['page_name']; ?></strong></li>
               </ul>
               <h1><?php echo $page['Page']['page_name']; ?></h1>
               <p><?php echo $page['Page']['content']; ?></p>
			   <?php
			   if($page['Page']['id']=='8')
			   {
			   ?>
			  <p><iframe width="640" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Address:+2951+Marion+Dr.+%23121+Las+Vegas,+NV+89115&amp;sll=36.213467,-115.073086&amp;sspn=0.001162,0.002642&amp;ie=UTF8&amp;hq=&amp;hnear=2951+Marion+Dr+%23121,+Las+Vegas,+Nevada+89115,+United+States&amp;t=m&amp;ll=36.221773,-115.069857&amp;spn=0.024235,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Address:+2951+Marion+Dr.+%23121+Las+Vegas,+NV+89115&amp;sll=36.213467,-115.073086&amp;sspn=0.001162,0.002642&amp;ie=UTF8&amp;hq=&amp;hnear=2951+Marion+Dr+%23121,+Las+Vegas,+Nevada+89115,+United+States&amp;t=m&amp;ll=36.221773,-115.069857&amp;spn=0.024235,0.054932&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small></p>
			  <?php
			   }?>
</div>
           <div class="clearfix"></div>
      </div>