<?php

$this->Session->write('last_url',$this->request->referer());
//echo "Redirect Url ".$this->request->referer();
?>
<style>
    body{
		background-image: none;
		background-color: #f9f9f9;
		text-align: center;
	}
	#supersized{
		display: none!important;
	}
	.header, .footer{
		display: none;
	}
</style>
<img src="<?php echo DOMAIN_NAME_PATH; ?>images/logo-c.png" alt="HouseHelp4Hire" style="max-width: 204px; text-align:center; margin-top: 100px;border-bottom: 1px solid #ccc;padding-bottom: 10px;">
<!-- <h3 style="margin-top: 10px;text-align:center;"> Re-Directing to GTPay</h3> -->
<h3 style="margin-top: 10px;text-align:center;">Click the button below to proceed</h3>
<!-- <p style="text-align:center;">Click the button to pay</p> -->

<body>
<form name="submit2gtpay_form" id="gtpayform" action="https://ibank.gtbank.com/GTPay/Tranx.aspx" target="_self" method="post">
<input type="hidden" name="gtpay_mert_id" value="2937" />
<input type="hidden" name="gtpay_tranx_id" value="<?php echo $gtpaydata['gtpay_tranx_id'] ?>" />
<input type="hidden" name="gtpay_tranx_amt" value="<?php echo $gtpaydata['paid_amount'] * 100 ?>" />
<input type="hidden" name="gtpay_tranx_curr" value="566" />
<input type="hidden" name="gtpay_cust_id" value="<?php echo $gtpaydata['user_id'] ?>" />
<input type="hidden" name="gtpay_cust_name" value="<?php echo $gtpaydata['gtpay_cust_name'] ?>" />
<input type="hidden" name="gtpay_tranx_memo" value="<?php echo $gtpaydata['email'] ?>" />
<input type="hidden" name="gtpay_hash" value="<?php echo $gtpaydata['gtpay_hash'] ?>" />
<input type="hidden" name="gtpay_tranx_noti_url" value="<?php echo $gtpaydata['gtpay_tranx_noti_url'] ?>" />
</form>

<!-- <div class="col-sm-12 col-md-12"> -->
    <div id="flutterwaveContainer">
	   <flutterwave-form 
	   merchant-key="tk_fLRnODPQzv" 
	   api-key="tk_QoGhkH36uy8rEIW9LtZN" 
	   env="development"  
	   title="<?php echo $gtpaydata['gtpay_cust_name']; ?>"
	   description="Payment for Selected Plan"
	   email="<?php echo $gtpaydata['email']; ?>"
	   amount="<?php echo $gtpaydata['paid_amount']; ?>"
	   currency="NGN"
	   validateoption="SMS"
	   authmodel="PIN"
	   logo="http://media-curse.cursecdn.com/attachments/141/893/1000px-square_enix_logo.png"
	   country="NG | GH | US | KE | UK"
	   action="http://requestb.in/1kdmoka1"
	   label="Pay Now"
	   id="paymentflu"
	   class="u-full-width button-primary" />
	  </div>
<!-- </div> -->
<script type="text/javascript" src="https://deegmll9vlc5w.cloudfront.net/paybutton/flutterwave-min.js"></script>
</body>

<script type="text/javascript">
  document.getElementById("paymentflu").submit();
</script>