		<script>
		$('#cardsave-direct-3ds-iframe').ready(function () {
			$('#loaderDisable').css('display', 'none');
		});
		$('#cardsave-direct-3ds-iframe').load(function () {
			$('#loaderDisable').css('display', 'none');
		});
		</script>
		<div class="product-cart-Wrapper" style="color:#000">
			<div class="thankyou">
				<p style="width:372px; margin:0 auto"><iframe frameborder="0" src="<?php echo $_SESSION['CardSave_Direct_TermURL']; ?>" id="cardsave-direct-3ds-iframe" width="390" height="500"></iframe></p>
			</div>
		</div>