.form-fu {
    display: block;
    max-width: 300px;
}

#progress {
    position: relative;
    width: 100%;
    float: left;
    padding: 1px;
    border-radius: 3px;
    margin-bottom: 20px;
}

#bar {
    background-color: #337ab7;
    width: 0%;
    height: 25px;
    border-radius: 2px;
    line-height: 25px;
    border-radius: 2px;
}

#percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%;
    color: #fff;
    font-weight: 600;
}
#message img{display: inline-block;
  max-width: 100%;
  height: auto;
  max-height: 200px;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;}
