 <!--HOME SECTION START-->
 <style>
 	#peelback{
		display:none;
	}
 </style>
        <section id="home" class="clearfix" style="background: #8d665b url(<?php echo DOMAIN_NAME_PATH; ?>images/HNCK2757-1300x866.jpg)no-repeat center;background-size: cover;">
           
            <div class="header clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-9 col-sm-4">
                            <!--<a class="logo" href="index.php"><img src="images/logo.png" alt="logo" /></a>-->
                            <?php echo $this->Html->link($this->Html->image('site_logo/'.$siteSetting['Setting']['site_logo'], array('alt'=>$siteSetting['Setting']['site_name'], 'title'=>$siteSetting['Setting']['site_name'])),array('controller' => 'Users','action' => 'index'),array('escape' => false, 'ondragstart'=>'return false', 'onselectstart'=>'return false','class'=>'logo'));?>
                        </div>
                        <!--/.col-md-4-->
                        <div class="col-md-8">
                            <!--MENU BUTTON(ON TABLET/MOBILE) START-->
                            <div class="menu-btn" data-target=".nav-collapse" data-toggle="collapse">
                                <span class="fa fa-th"></span>
                            </div>
                            <!--MENU BUTTON END-->
                           
                            <ul class="nav-collapse mobile-menu">
                            </ul>
                            <!--NAVIGATION END-->
                        </div>
                        <!--/.col-md-4-->
                    </div>
                    <!--/.row-->
                </div>
                <!--/.container-->
            </div>
            <!--/.header-->
            <div class="clearfix"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="slider-content clearfix">
                          
                            <!--SLIDER CAPTION START-->
                            <!--**************************changes 26-04-2015*************************-->
                            <div class="title-caption t-cap-mrgn">
                                <h1 class="custom-head">We are currently revamping our site to provide new and improved services. Check back soon - Team HouseHelp4Hire</h1>
                            </div>
                            <!--**************************changes 26-04-2015*************************-->
                            <!--/.title-caption-->
                            <!--SLIDER CAPTION END-->
                        
                            <!--/.centering-->
                        </div>
                        <!--/.slider-content-->
                    </div>
                    <!--/.col-sm-6-->
                </div>
                <!--/row-->
            </div>
            <!--/container-->
        </section>
        <!--/home-->
        <!--HOME SECTION END-->
          <!--CONTACT SECTION END-->
       
       
       
      
        <!--/portfolio-->
        <!--footer-->
        <style>
        	.footer {
				display: none;
				
			}
        </style>
    </div>