			<div class="">
				<h4><?php echo $news['News']['name']; ?></h4>
				<p style="border:padding:5px;" class="boxholder">
					<?php
					//$imgPath=$this->Html->url('/resize.php?pic='.NEWS_IMAGES.$news['News']['image'].'&w=150&h=200&ar=0',true);
					echo $this->Html->image('news/'.$news['News']['image'], array('label' => false, 'div' => false, 'border' => '1', 'alt' => '', 'style'=>'width:100%;height:auto;'));
					?>
				</p>
				<p><?php echo $news['News']['description']; ?></p>
				<?php 
				if($news['News']['youtube_video_embed_code'] != null){
					echo '<p class="">';
					$pattern = "/height=\"[0-9]*\"/";
					$event['Event']['youtube_video_embed_code'] = preg_replace($pattern, "height='auto'",  $event['Event']['youtube_video_embed_code']);
					$pattern = "/width=\"[0-9]*\"/";
					$event['Event']['youtube_video_embed_code'] = preg_replace($pattern, "width='100%'", $event['Event']['youtube_video_embed_code']);
					echo $event['Event']['youtube_video_embed_code'];
					echo '</p>';
				}
				?>
			</div>